$main-blue: #077DAB;
$dark-text: #494949;
$light-text: #fff;
$lightest-bg: #fff;
$light-grey: #E7E7E7;

html, body {
	background: $main-blue;
}


nav.navbar {
	background-color: transparent;
	.sub-navbar {background-color: transparent;}
	li a {
				-webkit-font-smoothing: antialiased;
			}
	.nav {
			&.status-bar {
				>li {

			&.notification {

					>a {
						padding: 5px 8px;
						margin: 9px 0;
						background-color: #fff;
						border-radius: 8px;
						color: $main-blue;

						&:hover, &:focus {
							background-color: rgba(0,0,0,0.2);
						}
					}
				}
			}
		}
		}

}


.home-notes {
	outline: 10px rgba(0, 0, 0, 0.1) solid;
}

.overlay-dark {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
	background: #FFF;
	position: relative;
}

.overlay-light {
	background: $light-grey;
	color: $dark-text;
	p, a {
		color: $dark-text;
	}
	a:hover {
		color: darken( $dark-text, 30% );
	}
}

.btn:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

.middle-bar .lead {
	color: $dark-text;
}

.footer.overlay-mid {
	background: darken($main-blue, 10%);
}

.sub-footer.sub-footer.overlay-dark {
	background: darken($main-blue, 20%);
}

hr {border-color: darken($light-grey, 5%);}

.outline {outline: 10px rgba(0, 0, 0, 0.1) solid;}

.overlay-trans {background-color: rgba(0, 0, 0, 0.5);}

/* Circle */
nav.circle ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.circle ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.circle ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}



@media (max-width: 768px) {
	nav.navbar {
		.sub-navbar {
			background: darken($main-blue, 20%);
		}
		background: darken($main-blue, 10%);
	}
}