<div class="modal-content">
  <div class="modal-header">
    <button ng-click="cancel()" type="button" class="close">
        <span aria-hidden="true">×</span>
    </button>
    <h3 class="modal-title">Disable Account</h3>
    <p>Any notes posted by this account will be disabled</p>
  </div>
  <div class="modal-body"><hr class="mbot25">
    <p>We'd really hate to see you go. Is there something you'd like to <a href="/contact-us">tell us about</a> first?</p>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 mtop15">
        <button ng-click="disableConfirm()" type="submit" class="btn btn-primary btn-block">Confirm</button>
      </div>
    </div>
  </div>
  <p class="text-center mtop25"><a href="" ng-click="cancel()" aria-label="Close">Cancel</a></p>
</div>