<div class="modal-content">
  <div class="modal-header">
    <button ng-click="close()" type="button" class="close">
        <span aria-hidden="true">×</span>
    </button>
    <h3 class="modal-title">Support a Charity</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer.</p>
  </div>
  <div class="modal-body"><h4>Lorem ipsum dolor sit amet, consectetuer.</h4>
    <p class="muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod
      mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis
      qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii
      legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem.</p>
      <p class="muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod
        mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis
        qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii
        legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem.</p>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
            <button ng-click="close()" class="btn btn-primary btn-block">Close</button>
          </div>
        </div></div>
      </div>