<div class="modal-content">
  <div class="modal-header">
    <button ng-click="cancel()" type="button" class="close">
        <span aria-hidden="true">×</span>
    </button>
    <h3 class="modal-title">Download Note</h3>
    <p></p>
  </div>
  <div class="modal-body" cg-busy='listingRetrievalPromise'>
    <a ng-show="fileListing.length > 1" href="javascript:void(0)" ng-click="downloadAllFiles()" class="downloadAllFiles mbot15">Download All Files</a>

    <ul class="mbot50">
      <li  ng-repeat="file in fileListing"><a href="javascript:void(0)" ng-click="downloadFile(file.id)">{{file.file_name}}</a></li>
    </ul>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <button ng-click="cancel()" class="btn btn-primary btn-block" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>