<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Sign In</h3>
          <p></p>
        </div>
        <div class="modal-body">

          <form name="loginForm" role="form" ng-submit="login(loginForm)">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" class="form-control" name="username"  ng-model="model.username" required />
              <div class="error-msg" ng-repeat="error in errors.username">{{error}}</div>
              <div class="error-msg" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
                <span ng-show="loginForm.username.$error.required">
                  Username is required.
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input  type="password" class="form-control" ng-model="model.password" name="password" required />
              <div class="error-msg" ng-repeat="error in errors.password">{{error}}</div>
              <div class="error-msg" ng-repeat="error in errors.non_field_errors">{{error}}</div>
              <div class="error-msg" ng-if="error">{{error}}</div>
              <div class="error-msg" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                <span ng-show="loginForm.password.$error.required">
                  Password is required.
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
              </div>
            </div>

            <p class="mtop15 text-center"><a href="#" data-dismiss="modal" data-toggle="modal" data-target="#register">No Account? Register Here!</a></p>
          </form>
        </div>
      </div>
      <p class="text-center mtop25"><a href="forgot-password">Forgot Password?</a></p>