<div class="container results mtop25 mbot25 outline">
    <h1 class="mbot50">About NoteBooster</h1>
    <p>
        NoteBooster.com is an online student-to-student marketplace. We provide an opportunity for students to support purpose-driven organizations through the buying and selling of their own class notes. We partner withBetween 24% and 100% of each notes sale is donated to our partnering organizations, with the note seller keeping the remainder.
    </p>
    <p class="mbot50">
      We recognize the opportunity NoteBooster has to represent something much bigger than ourselves. For that reason, we consider ourselves to be a social venture and we measure our success through impact, not profit.
    </p>
    <h2>Our Mission</h2>
    <p class="mbot50">
        To empower and fund student organizations.
    </p>
    <h2>Our Vision</h2>
    <p class="mbot50">
        To serve as a fundraising tool for student organizations to realize their full potential to transform communities, locally and globally.
    </p>
    <!-- <h2>How Does it Work?</h2>
    <p class="mbot50">
        NoteBooster.com is a student-to-student marketplace for class notes, built to simultaneously enhance the educational process & purpose driven student organizations. This service is far from new, in fact it exists at hundreds of campuses across the country. What is new is that 24-100% of each transaction goes directly to the purpose driven organizations on your campus.
    </p> -->
    <hr class="mtop25 mbot25">
    <div class="row vertical-align normalize-xs mbot25">
        <div class="col-sm-8 col-xs-12">
            <h1 class="mbot25">Partnerships</h1>
            <p class="lead">Who We Play For FSU</p>
            <p>Who We Play For is a movement to protect the hearts of our youth by providing affordable heart screenings. Every single dollar we raise through NoteBooster goes towards providing student athletes, who otherwise couldn't afford it, with the opportunity to get their heart checked. Please consider joining our fight against the leading cause of death in student athletes, sudden cardiac arrest. </p>
            <p><a href="#">View Profile</a><br>
            <a href="http://www.whoweplayfor.org/" target="_blank">Visit Website</a>
        </div>
        <div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <img src="img/wwpf.jpg" class="img-responsive" alt="" height="300" width="500" />
        </div>
    </div>
</div>
