<div class="container results mtop25 mbot25 outline">
		<h1>About NoteBooster</h1>
		<p class="mbot50">NoteBooster.com is a learning resource for students. We provide a full service marketplace catering to the exchange of learning material for college and university courses. Through NoteBooster you can browse a collection of free and paid notes, ask questions to other students.</p>
		<h2>Our Mission</h2>
		<p>NoteBooster serves as a fundraising tool for purpose-driven organizations. We value the work done by the world's nonprofit's. We help them fulfill their purposes by reducing the burden of fundraising.</p>
		 <!-- With every file purchased proceeds are shared with our nonprofit partners. -->
		<hr class="mtop25 mbot15">
		<h2>Our Team</h2>
		<div class="row vertical-align normalize-xs mtop15 mbot15">
			<div class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
				<img src="http://placehold.it/300x300" class="img-responsive" alt="" />
			</div>
			<div class="col-sm-9 col-xs-12">
				<p class="lead">Nam liber tempor cum soluta nobis eleifend option congue</p>
				<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum
					claritatem. Investigationes demonstraverunt lectores legere me lius quod ii
					legunt saepius.</p>
			</div>
		</div>
		<p class="lead mtop50">Nam liber tempor cum soluta nobis eleifend option congue</p>
		<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum
			claritatem. Investigationes demonstraverunt lectores legere me lius quod ii
			legunt saepius.</p>
		<hr class="mtop25 mbot25">
		<div class="row vertical-align normalize-xs mbot25">
			<div class="col-sm-8 col-xs-12">
				<h2>Partnerships</h2>
				<p class="lead">Who We Play For</p>
				<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum
					claritatem. Investigationes demonstraverunt lectores legere me lius quod ii
					legunt saepius.</p>
			</div>
			<div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
				<img src="http://placehold.it/500x300" class="img-responsive" alt="" />
			</div>
		</div>
	</div>