<div class="container results mtop25 mbot25 outline" >
		<form ng-submit="search(notesBySchoolForm)" name="notesBySchoolForm">
			<header class="row bottom-align ptop25 pbot25 top-search">
				<div class="col-sm-5 col-xs-12 form-group text-center">
					<label>School</label>
           <ui-select
            ng-model="school.selected"
            data-ng-disabled="disabled"   theme="bootstrap"   on-select="schoolSelected($item, $model)">
              <ui-select-match placeholder="Search for your school">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices refresh="searchSchool($select.search)" refresh-delay="300" repeat="school in schools">
                <span ng-bind-html="school.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
				</div>
				<div class="col-sm-5 col-xs-12 form-group text-center">
					<label>Course</label>
           <ui-select
            ng-model="school.selected"
            data-ng-disabled="disabled"   theme="bootstrap"   on-select="schoolSelected($item, $model)">
              <ui-select-match placeholder="Search for your course">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices refresh="searchSchool($select.search)" refresh-delay="300" repeat="school in schools">
                <span ng-bind-html="school.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
				</div>
				<div class="col-sm-2 col-xs-12 form-group search-group">
					<button type="submit" class="btn btn-block btn-notes">Search</button>
				</div>
				<div class="clearfix"></div>
			</header>
		</form>
		<section class="row  vertical-align">
			<div class="col-sm-8 col-xs-6">
				<h1>{{itemCount}} Results</h1>
				<p class="lead muted">for MAR3023 - Basic Marketing Concepts at Florida State University</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<select ng-model="orderListValue" class="form-control">
					<option value="results[0].date">Newest First</option>
					<option value="results[0].price">Lowest Price</option>
					<option value="-results[0].price">Highest Price</option>
				</select>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</section>
		<main class="row">
			<div class="col-xs-12">
									<div class="row vertical-align normalize-xs lined"  ng-repeat="note in data | orderBy: orderListValue">
						<div class="col-md-2 col-sm-3 col-xs-0 hidden-xs text-center">
							<div class="row mtop5">
								<div class="col-sm-10 col-sm-offset-1">
									<a href="user-profile">
										<img src="img/profile.png" class="img-responsive" alt="Profile Image">
									</a>
								</div>
							</div>
							<p class="hidden-xs text-center mbot5"><a href="user-profile">{{note.results[0].user.username}}</a></p>
						</div>
						<div class="col-md-1 col-sm-0 hidden-sm hidden-xs">
							<p class="large muted hidden-xs text-center">{{note.results[0].price | currency}}</p>
						</div>
						<div class="col-sm-6 col-xs-12 mtop5 mbot15-xs less-spacing">
							<p class="lead"><a href="note-details">{{note.results[0].title}}</a></p>
							<p class="visible-sm visible-xs">{{note.results[0].price | currency}}</p>
							<p class="visible-xs">Provided by: <a href="user-profile">asdf</a></p>
							<p>Date: {{note.results[0].date}}</p>
							<p>Course: {{note.results[0].course.name}} </p>
							<p>Instructor: {{note.results[0].instructor.name}}</p>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-12 text-center">
							<a class="btn btn-primary btn-block" ui-sref="app.note-details">Details</a>
							<p class="muted mtop15"><i class="fa fa-heart-o"> For Charity</i></p>
						</div>
					</div>
								<div class="clearfix"></div>
			</div>
		</main>
		<footer class="row">
			<div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
				<ul class="pagination mtop50 mbot50">
					<li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
				</ul>
			</div>
		</footer>
		<div class="clearfix"></div>
	</div>