<div class="container results mtop25 mbot25 outline" cg-busy="browsePromise">
	<form ng-submit="search(notesBySchoolForm)" name="notesBySchoolForm">
		<header class="row bottom-align ptop25 pbot25 top-search">
			<div class="col-sm-5 col-xs-12 form-group text-center">
				<label>School</label>
				<ui-select ng-model="school.selected" data-ng-disabled="disabled" theme="bootstrap" on-select="schoolSelected($item, $model)" ng-change="searchCourse()">
				<ui-select-match placeholder="Search for your school">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices refresh="searchSchool($select.search)" refresh-delay="300" repeat="school in schools">
				<span ng-bind-html="school.name | highlight: $select.search"></span>
			</ui-select-choices>
		</ui-select>
		<span ng-show="!school.selected" class="error-msg">{{chooseSchool}}</span>
	</div>
	<div class="col-sm-5 col-xs-12 form-group text-center">
		<label>Course</label>
		<ui-select ng-model="course.selected" data-ng-disabled="disabled" theme="bootstrap" >
		<ui-select-match placeholder="Search for your course">{{$select.selected.name}}</ui-select-match>
		<ui-select-choices repeat="course in courses">
		<span ng-bind-html="course.name | highlight: $select.search"></span>
	</ui-select-choices>
</ui-select>
</div>
<div class="col-sm-2 col-xs-12 form-group search-group">
	<button type="submit" class="btn btn-block btn-notes">Search</button>
</div>
<div class="clearfix"></div>
</header>
</form>
<section class="row  vertical-align">
	<div class="col-sm-8 col-xs-6">
		<h1>{{itemCount}} Results</h1>
		<p ng-if="schoolId" class="lead muted">for {{courseName}} - {{schoolName}}</p>
		<p ng-if="!schoolId" class="lead muted"> Select a school, course and click search on the form above.</p>
	</div>
	<div ng-if="schoolId" class="col-md-4 col-sm-4 col-xs-6">
		<select class="form-control" ng-model="pageOrder" ng-change="getNotes(shcoolId,courseId,page,pageOrder)">
			<option value="newest">Newest First</option>
			<option value="lowest">Lowest Price</option>
			<option value="highest">Highest Price</option>
		</select>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
</section>
<main class="row">
	<div class="col-xs-12">
		<div class="row vertical-align normalize-xs lined"  ng-repeat="note in results">
			<div class="col-md-2 col-sm-3 col-xs-0 hidden-xs text-center">
				<div class="row mtop5">
					<div class="col-sm-10 col-sm-offset-1">
						<a ui-sref="app.viewprofile({username:note.user.username})">
							<img ng-src="{{ note.user.profile.profile_picture || 'img/profile.png' }}" class="img-responsive" alt="Profile Image">
						</a>
					</div>
				</div>
				<p class="hidden-xs text-center mbot5"><a id="{{msg.sender.username}}"  ui-sref="app.viewprofile({username:note.user.username})">{{note.user.username}}</a></p>
			</div>
			<div class="col-md-1 col-sm-0 hidden-sm hidden-xs">
				<p class="large muted hidden-xs text-center">{{note.price | currency}}</p>
			</div>
			<div class="col-sm-6 col-xs-12 mtop5 mbot15-xs less-spacing">
				<p class="lead"><a id="{{note.id}}" ng-click="getNoteDetails($event)">{{note.title}}</a></p>
				<p class="visible-sm visible-xs">{{note.price | currency}}</p>
				<p class="visible-xs">Provided by: <a id="{{note.user.username}}"  ui-sref="app.viewprofile({username:note.user.username})">{{note.user.username}}</a></p>
				<p>Date: {{note.created | date}}</p>
				<p>Course: {{note.course.name}} </p>
				<p>Instructor: {{note.instructor.name}}</p>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-12 text-center">
				<a class="btn btn-primary btn-block" id="{{note.id}}" ng-click="getNoteDetails($event)">Details</a>
				<p class="muted mtop15"><i class="fa fa-heart-o"> For Charity</i></p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</main>
<footer class="row">
	<div class="col-sm-12 col-xs-12 text-center">
		<pagination ng-model="page" total-items="itemCount" boundary-links="true" 
		first-text="&laquo;" previous-text="&lsaquo;" next-text="&rsaquo;"  last-text="&raquo;" 
		rotate="true" max-size="maxSize" ng-change="getNotes(schoolId,courseId,page,pageOrder)">
	</pagination>
</div>
</footer>
<div class="clearfix"></div>
</div>