<div class="container results mtop25 mbot25 outline">
    <h1>Frequently Asked Questions</h1>
    <p class="muted mbot50">We love questions! Below are the answers to what we believe are the most common questions from note buyers, sellers, and faculty members. If your question is not answered here then please feel free to Contact Us, Don't be shy!</p>
    <div class="row">
        <div class="col-xs-12">

            	<accordion close-others="oneAtATime">

            	<div class="faq-section">
					<h2>General</h2>

				    <accordion-group>
				        <accordion-heading>
				            Who is allowed to post notes?
				        </accordion-heading>
				        As long as you have legal rights over the content you are posting, we encourage everyone to post notes!
				    </accordion-group>

				    <accordion-group>
				        <accordion-heading>
				            What is your stance on cheating?
				        </accordion-heading>
				        We do not condone cheating or the infringement of copyrighted material. And while note taking is a very effective reinforcement for learning, each school follows their own policy regarding the exchange of notes. Be aware of your school's policy before uploading notes to NoteBooster.
				    </accordion-group>
				</div>
				<div class="faq-section">
				    <h2>Buying Notes</h2>

				    <accordion-group>
				        <accordion-heading>
				            Can I re-download Notes after purchase?
				        </accordion-heading>
						Absolutely! Notes can be downloaded as often as you like by clicking on the Notes Purchased link in your profile menu.
					</accordion-group>

					<accordion-group>
						<accordion-heading>
				            Do all notes cost money?
				        </accordion-heading>
						Nope! Many notes are provided for free. To specifically look for free notes, click the checkbox on the browse page that says "Only Show Free Notes."
					</accordion-group>

					<accordion-group>
						<accordion-heading>
				            Am I allowed to get a refund?
				        </accordion-heading>
						Because of the nature of digital purchases we cannot issue refunds or exchanges. If there is an error in payment or in the transfer of the notes then please reach us via the contact form on this page or through the feedback button next to the note.
					</accordion-group>

					<accordion-group>
						<accordion-heading>
				            How do I tell the difference between a good seller and a bad seller?
				        </accordion-heading>
						We give several tools to help you determine the overall quality of a note seller even before you purchase.
						<ul>
							<li>Look at the Seller's ratings.</li>
							<li>View comments from previous buyers.</li>
							<li>Read the Seller's profile.</li>
							<li>View the note preview.</li>
							<li>If still hesitant, contact the seller through the message system!</li>
						</ul>
					</accordion-group>

				</div>
				<div class="faq-section">
					<h2>Partnering Organizations</h2>

					<accordion-group>
						<accordion-heading>
				            How do student organizations fundraise with NoteBooster?
				        </accordion-heading>
						We provide the guidance to get you started, along with a beautiful assortment of resources. Our goal is to provide you with everything you need, therefore, you and your team can focus solely on fundraising for your cause.
					</accordion-group>

					<accordion-group>
						<accordion-heading>
				            How do we apply to use NoteBooster as our fundraising tool?
				        </accordion-heading>
				        <a href="#">Apply Here</a>
					</accordion-group>

					<accordion-group>
						<accordion-heading>
				            When do you accept partnering organizations?
				        </accordion-heading>
						The application process is rolling.
					</accordion-group>

					<accordion-group>
						<accordion-heading>
				            How long does will it take to hear back?
				        </accordion-heading>
						It can take up to two weeks for us to review and process applications.
					</accordion-group>

					<accordion-group>
						<accordion-heading>
				            How does NoteBooster choose between student organizations?
				        </accordion-heading>
						In an effort to be as fair as possible, we've put in place a point system based off your application and interview.
					</accordion-group>
				</div>

				<div class="faq-section">
					<h2>Selling Notes</h2>

					<accordion-group>
						<accordion-heading>
				            How much money does NoteBooster keep from my sale?
				        </accordion-heading>
						PUT CORRECT RESPONSE HERE
					</accordion-group>

					<accordion-group>
						<accordion-heading>
				            Someone else is reselling my notes. Can you help?
				        </accordion-heading>
						Yes we can. Please notify us via the feedback dialog and we will do our best to resolve the issue. If a full resolution can not be determined then both notes will be taken offline. Please read our Terms and Agreement for full disclosure of how we handle these cases.
					</accordion-group>

					<accordion-group>
						<accordion-heading>
				            Can I choose my own price when I sell my notes?
				        </accordion-heading>
						Of course! We allow note sellers complete freedom to set the price of their items.
					</accordion-group>

					<accordion-group>
						<accordion-heading>
				           How do I promote my notes?
				        </accordion-heading>
						We provide wonderfully easy tools to promote your notes. On your Note For Sale page you'll find tools to create printable fliers and options for sending emails. For even more information we encourage you to play through the Note Seller tour located on the homepage.
					</accordion-group>
				</div>
				<div class="faq-section">

					<h2>Faculty & Staff</h2>

					<accordion-group>
						<accordion-heading>
				            I do not want notes to be available for my class. Will you take them down?
				        </accordion-heading>
						We respect the wishes of educators and content providers who do not want their notes posted. If you contact us and verify your identity then yes, we will take down notes tagged with your course ID and name.
					</accordion-group>

					<accordion-group>
						<accordion-heading>
				            Is this site against school policies?
				        </accordion-heading>
						Each school has its own policies regarding the sale of class notes. We insist that both buyers and sellers be aware of their school's rules before making use of our website.
					</accordion-group>

					<accordion-group>
						<accordion-heading>
				            Can I know when notes are uploaded for my class?
				        </accordion-heading>
						Yes you can. When browsing for notes click the Watch link and by specifying a school, course ID and instructor name you will be given an opportunity to sign up for email alerts notifying you if any uploads are made into the heading you specified.
					</accordion-group>
				</div>

				</accordion>


            <p class="text-center mtop50 mbot50">Still can't find the answer to your question? <a ui-sref="app.contact">Contact Us!</a></p>
        </div>
    </div> <!-- end row -->
</div>
