<div class="container results mtop25 mbot25 outline">
		<h1>Frequently Asked Questions</h1>
				<p class="muted mbot50">We love questions! Below are the answers to what we believe are the most common questions from note buyers, sellers, and faculty members. If your question is not answered here then please feel free to Contact Us, Don't be shy!</p>
		<div class="row">
			<div class="col-xs-12">

				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<h2>General</h2>
							<div class="panel-heading" role="tab" id="heading-s1-q1">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-s1-q1" aria-expanded="true" aria-controls="collapse-s1-q1">
										<p>Who is allowed to post notes?</p>
									</a>
								</h4>
							</div>
							<div id="collapse-s1-q1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-s1-q1">
								<div class="panel-body">
									<p>As long as you have legal rights over the content you are posting, we encourage everyone to post notes!</p>
								</div>
							</div>

							<div class="panel-heading" role="tab" id="heading-s1-q2">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-s1-q2" aria-expanded="true" aria-controls="collapse-s1-q2">
										<p>What is your stance on cheating?</p>
									</a>
								</h4>
							</div>
							<div id="collapse-s1-q2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-s1-q2">
								<div class="panel-body">
									<p>We do not condone cheating or the infringement of copyrighted material. And while note taking is a very effective reinforcement for learning, each school follows their own policy regarding the exchange of notes. Be aware of your school's policy before uploading notes to NoteBooster.</p>
								</div>
							</div>
						</div> <!-- end panel-group -->

						<div class="panel panel-default">
							<h2>Buying Notes</h2>
							<div class="panel-heading" role="tab" id="heading-s2-q1">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-s2-q1" aria-expanded="true" aria-controls="collapse-s2-q1">
										<p>Can I re-download Notes after purchase?</p>
									</a>
								</h4>
							</div>
							<div id="collapse-s2-q1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-s2-q1">
								<div class="panel-body">
									<p>Absolutely! Notes can be downloaded as often as you like by clicking on the Notes Purchased link in your profile menu.</p>
								</div>
							</div>

							<div class="panel-heading" role="tab" id="heading-s2-q2">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-s2-q2" aria-expanded="true" aria-controls="collapse-s2-q2">
										<p>Do all notes cost money?</p>
									</a>
								</h4>
							</div>
							<div id="collapse-s2-q2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-s2-q2">
								<div class="panel-body">
									<p>Nope! Many notes are provided for free. To specifically look for free notes, click the checkbox on the browse page that says "Only Show Free Notes."</p>
								</div>
							</div>

							<div class="panel-heading" role="tab" id="heading-s2-q3">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-s2-q3" aria-expanded="true" aria-controls="collapse-s2-q3">
										<p>Am I allowed to get a refund?</p>
									</a>
								</h4>
							</div>
							<div id="collapse-s2-q3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-s2-q3">
								<div class="panel-body">
									<p>Because of the nature of digital purchases we cannot issue refunds or exchanges. If there is an error in payment or in the transfer of the notes then please reach us via the contact form on this page or through the feedback button next to the note.</p>
								</div>
							</div>

							<div class="panel-heading" role="tab" id="heading-s2-q4">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-s2-q4" aria-expanded="true" aria-controls="collapse-s2-q4">
										<p>How do I tell the difference between a good seller and a bad seller?</p>
									</a>
								</h4>
							</div>
							<div id="collapse-s2-q4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-s2-q4">
								<div class="panel-body">
									<p>We give several tools to help you determine the overall quality of a note seller even before you purchase. </p>
									<ul id="graylist">
										<li>Look at the Seller's ratings.</li>
										<li>View comments from previous buyers.</li>
										<li>Read the Seller's profile.</li>
										<li>View the note preview.</li>
										<li>If still hesitant, contact the seller through the message system!</li>
									</ul>
								</div>
							</div>
						</div> <!-- end panel-group -->

						<div class="panel panel-default">
							<h2>Selling Notes</h2>
							<div class="panel-heading" role="tab" id="heading-s3-q1">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-s3-q1" aria-expanded="true" aria-controls="collapse-s3-q1">
										<p>How much money does NoteBooster keep from my sale?</p>
									</a>
								</h4>
							</div>
							<div id="collapse-s3-q1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-s3-q1">
								<div class="panel-body">
									<p>For each item sold 85% goes to the seller and 15% of the sales price goes to NoteBooster. No fee is taken from free notes.</p>
								</div>
							</div>

							<div class="panel-heading" role="tab" id="heading-s3-q2">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-s3-q2" aria-expanded="true" aria-controls="collapse-s3-q2">
										<p>Someone else is reselling my notes. Can you help?</p>
									</a>
								</h4>
							</div>
							<div id="collapse-s3-q2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-s3-q2">
								<div class="panel-body">
									<p>Yes we can. Please notify us via the feedback dialog and we will do our best to resolve the issue. If a full resolution can not be determined then both notes will be taken offline. Please read our Terms and Agreement for full disclosure of how we handle these cases.</p>
								</div>
							</div>

							<div class="panel-heading" role="tab" id="heading-s3-q3">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-s3-q3" aria-expanded="true" aria-controls="collapse-s3-q3">
										<p>Can I choose my own price when I sell my notes?</p>
									</a>
								</h4>
							</div>
							<div id="collapse-s3-q3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-s3-q3">
								<div class="panel-body">
									<p>Of course! We allow note sellers complete freedom to set the price of their items.</p>
								</div>
							</div>

							<div class="panel-heading" role="tab" id="heading-s3-q4">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-s3-q4" aria-expanded="true" aria-controls="collapse-s3-q4">
										<p>How do I promote my notes?</p>
									</a>
								</h4>
							</div>
							<div id="collapse-s3-q4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-s3-q4">
								<div class="panel-body">
									<p>We provide wonderfully easy tools to promote your notes. On your Note For Sale page you'll find tools to create printable flyers and options for sending emails. For even more information we encourage you to play through the Note Seller tour located on the homepage.</p>
								</div>
							</div>
						</div> <!-- end panel-group -->

						<div class="panel panel-default">
							<h2>Faculty & Staff</h2>
							<div class="panel-heading" role="tab" id="heading-s4-q1">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-s4-q1" aria-expanded="true" aria-controls="collapse-s4-q1">
										<p>I do not want notes to be available for my class. Will you take them down?</p>
									</a>
								</h4>
							</div>
							<div id="collapse-s4-q1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-s4-q1">
								<div class="panel-body">
									<p>We respect the wishes of educators and content providers who do not want their notes posted. If you contact us and verify your identity then yes, we will take down notes tagged with your course ID and name.</p>
								</div>
							</div>

							<div class="panel-heading" role="tab" id="heading-s4-q2">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-s4-q2" aria-expanded="true" aria-controls="collapse-s4-q2">
										<p>Is this site against school policies?</p>
									</a>
								</h4>
							</div>
							<div id="collapse-s4-q2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-s4-q2">
								<div class="panel-body">
									<p>Each school has its own policies regarding the sale of class notes. We insist that both buyers and sellers be aware of their school's rules before making use of our website.</p>
								</div>
							</div>

							<div class="panel-heading" role="tab" id="heading-s4-q3">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-s4-q3" aria-expanded="true" aria-controls="collapse-s4-q3">
										<p>Can I know when notes are uploaded for my class?</p>
									</a>
								</h4>
							</div>
							<div id="collapse-s4-q3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-s4-q3">
								<div class="panel-body">
									<p>Yes you can. When browsing for notes click the Watch link and by specifying a school, course ID and instructor name you will be given an opportunity to sign up for email alerts notifying you if any uploads are made into the heading you specified.</p>
								</div>
							</div>
						</div> <!-- end panel-group -->

				</div>
			</div> <!-- end General -->
		</div> <!-- end row -->
		<p class="text-center mtop50 mbot50">Still can't find the answer to your question? <a ui-sref="app.contact">Contact Us!</a></p>
	</div>

	</div>