<div class="container results mtop25 mbot25">
		<h1>Frequently Asked Questions</h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
		<div class="row">
			<div class="col-xs-12">
				<h2>Category Title</h2>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
											<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading<?=$i?>">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$i?>" aria-expanded="true" aria-controls="collapse<?=$i?>">
										Accumsan et iusto odio dignissim qui blandit praesent luptatum
									</a>
								</h4>
							</div>
							<div id="collapse<?=$i?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<?=$i?>">
								<div class="panel-body">
									<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes
									demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading<?=$i?>">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$i?>" aria-expanded="true" aria-controls="collapse<?=$i?>">
										Accumsan et iusto odio dignissim qui blandit praesent luptatum
									</a>
								</h4>
							</div>
							<div id="collapse<?=$i?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<?=$i?>">
								<div class="panel-body">
									<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes
									demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading<?=$i?>">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$i?>" aria-expanded="true" aria-controls="collapse<?=$i?>">
										Accumsan et iusto odio dignissim qui blandit praesent luptatum
									</a>
								</h4>
							</div>
							<div id="collapse<?=$i?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<?=$i?>">
								<div class="panel-body">
									<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes
									demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading<?=$i?>">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$i?>" aria-expanded="true" aria-controls="collapse<?=$i?>">
										Accumsan et iusto odio dignissim qui blandit praesent luptatum
									</a>
								</h4>
							</div>
							<div id="collapse<?=$i?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<?=$i?>">
								<div class="panel-body">
									<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes
									demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading<?=$i?>">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$i?>" aria-expanded="true" aria-controls="collapse<?=$i?>">
										Accumsan et iusto odio dignissim qui blandit praesent luptatum
									</a>
								</h4>
							</div>
							<div id="collapse<?=$i?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<?=$i?>">
								<div class="panel-body">
									<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes
									demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
								</div>
							</div>
						</div>
									</div>
			</div>
		</div>
		<p class="text-center mtop50 mbot50">Still can't find the answer to your question? <a href="contact-us">Contact Us!</a></p>
	</div>
