<div class="container" ng-hide="authenticated">
  <a class="navbar-brand" ng-href="#/">
    <img src="img/logo.png" class="img-responsive" alt="NoteBooster Logo" />
  </a>
  <div id="navbar">
    <ul class="nav navbar-nav navbar-center browsesell">

      <li><a ui-sref="app.browse">Browse</a></li>
      <li><a ui-sref="app.new-note">Sell</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right status-bar">

      <li class="sign-in"><a href="#" ng-click="signinModal()">Sign In</a></li>
      <li class="register"><a href="#" data-toggle="modal" data-target="#register">Register</a></li>

    </ul>
  </div><!--/.navbar-collapse -->
</div>

<div class="container" ng-show="authenticated">
  <a class="navbar-brand" href="/">
    <img src="img/logo.png" class="img-responsive" alt="NoteBooster Logo">
  </a>
  <div id="navbar">
    <ul class="nav navbar-nav navbar-center browsesell" ng-if="user.account_type == 'student'">
      <li><a ui-sref="app.browse">Browse</a></li>
      <li><a ui-sref="app.new-note">Sell</a></li>
    </ul>


    <ul class="nav navbar-nav navbar-center browsesell" ng-if="user.account_type == 'organization'">
      <li class="org-nav"><a ui-sref="app.donations">Donations</a></li>
      <li class="org-nav org-profile"><a ui-sref="app.browse">Profile</a></li>
      <li class="org-nav"><a ui-sref="app.browse">Payment Info</a></li>
     </ul>
    <ul class="nav navbar-nav navbar-right status-bar" ng-controller="DropdownCtrl">


      <li class="dropdown profile" dropdown  on-toggle="toggled(open)" >
        <a class="dropdown-toggle" aria-expanded="false" dropdown-toggle>
          <img ng-src="{{ user.profile_picture || 'img/profile.png' }}" class="img-responsive" alt="Profile Picture">
        </a>


        <span>{{user.username}}</span>
        <span class="user-email-minor">{{user.email}}</span>
        <ul class="dropdown-menu">


          <li><a ui-sref="app.notes-purchased">Notes Purchased</a></li>
          <li><a ui-sref="app.notes-forsale">Notes for Sale</a></li>
          <li><a ui-sref="app.watch-list">Watch List</a></li>
          <li><a ui-sref="app.messages">Messages <span class="notification" ng-if="notificationCount">{{notificationCount}}</span></a></li>


          <li class="divider"></li>
          <li><a ui-sref="app.profile-settings">Edit Settings</a></li>
          <li class="divider"></li>
          <li><a ui-sref="app.contact">Contact Us</a></li>
          <li class="divider"></li>
          <li ng-controller="LogoutCtrl"><a ui-sref="app" ng-click="logout()">Sign Out</a></li>
        </ul>
      </li>
      <li class="notification"><a ui-sref="app.messages" ng-if="notificationCount > 0">{{notificationCount}}</a></li>
    </ul>
  </div><!--/.navbar-collapse -->
</div>

<div class="clearfix"></div>
<div class="sub-navbar">
  <div class="container">
  </div>
</div>