	<div class="container mtop25 pbot25">
		<div class="row">
			<div class="row">
				<div class="col-md-9">
					<div class="results pad15 outline">
						<section class="row vertical-align normalize-xs normalize-sm">
							<div class="col-xs-12 title-block">
								<h1>Message Details</h1>
							</div>
						</section>

						<header class="row bottom-align ptop15 pbot15">
							<div class="col-sm-2 col-sm-offset-0 col-xs-8 col-xs-offset-2">
								<a ui-sref="app.messages" class="btn btn-block btn-minor">Go Back</a>
							</div>
							<div class="clearfix"></div>
						</header>

						<section class="row vertical-align normalize-xs normalize-sm mtop25">
							<div class="col-xs-12">
								<div class="row mtop15 mbot15" ng-repeat="msg in thread.all_msgs">
									<div class="col-sm-2 col-xs-3 text-center">
										<img src="img/profile.png" class="img-responsive" alt="Road Warrior Profile Picture" />
										<a href="user-profile">{{msg.sender.username}}</a>
									</div>
									<div class="col-sm-10 col-xs-9">
										<div class="row">
											<div class="col-sm-6 col-xs-12">
												<p class="lead">{{thread.subject}}</p>
											</div>
											<div class="col-sm-6 col-xs-12 text-right">
												<p>{{msg.sent_at | date}}</p>
											</div>
										</div>
										<p>{{msg.body}}</p>
									</div>
								</div>
								<div class="clearfix"></div>
								<hr>
								<div class="clearfix"></div>
								<form method="post" action="">
									<div class="row mtop15 mbot15 muted">
										<div class="col-sm-2 col-xs-0 hidden-xs text-center">
											<img src="img/profile.png" class="img-responsive" alt="Gricha2380 Profile Picture" />
											Me
										</div>
										<div class="col-sm-10 col-xs-9 form-group">
											<label for="reply">Write a Reply:</label>
											<textarea ng-model="msg" name="reply" class="form-control"></textarea>
										</div>
										<div class="clearfix"></div>
										<div class="col-sm-3 col-sm-offset-6 col-xs-12">
											<a ui-sref="app.messages" class="btn btn-minor btn-block">Cancel</a>
										</div>
										<div class="col-sm-3 col-xs-12">
											<button ng-click="threadReply()" href="messages" class="btn btn-primary btn-block">Send</button>
										</div>
									</div>
								</form>
							</div>
						</section>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 mtop25-sm mtop0-xs">
					<div class="row">
	<div class="col-md-12 col-sm-6 col-xs-12">
		<div class="results pad15 mbot25 mtop25-xs">
			<h3>Settings</h3>
			<hr>
			<p><a href="profile-settings">Profile Settings</a></p>
			<p><a href="password-settings">Passwords</a></p>
			<p><a href="payment-info">Payment Info</a></p>
		</div>
	</div>
	<div class="col-md-12 col-sm-6 col-xs-12">
		<div class="results pad15 mbot25">
			<h3>Dashboard</h3>
			<hr>
			<p><a href="notes-purchased">Notes Purchased</a></p>
			<p><a href="notes-for-sale">Notes for Sale</a></p>
			<p><a href="watch-list">Watch List</a></p>
			<p><a href="messages">Messages</a></p>
		</div>
	</div>
</div>				</div>
			</div>
		</div>
	</div>
	</div>