<div class="container results mtop25 mbot25 outline" cg-busy="existingNoteRetrievalPromise">
	<section class="row">
		<div class="col-xs-12 mbot25">
			<h1>{{note.id ? 'Edit Note' : 'Create New Note'}}</h1>
			<p class="muted">Do you have good notes? Share them with the rest of your class!</p>
		</div>
		<div class="col-md-8 col-sm-12 hr-right">

			<!-- Standard Form -->
			<h4>Select notes from your computer</h4>

				<div class="form-inline">
					<div class="form-group">
						<input type="file"  id="js-upload-files" multiple  nv-file-select="" uploader="uploader">
					</div>

				</div>


			<!-- Drop Zone -->
			<div class="upload-drop-zone mtop15" id="drop-zone"  nv-file-drop="" nv-file-over="" uploader="uploader">
				...or drag and drop files here!
			</div>

			 <div ng-repeat="item in uploader.queue" class="mbot25 mtop25 notes-uploading">
			 	<strong>{{ item.file.name }}</strong>
			 	<div ng-show="item.isError">Could not upload {{item.file.name}}, please try again</div>
                <div ng-show="uploader.isHTML5">
					<div class="progress" style="margin-bottom: 0;"  ng-hide="item.isError || item.isSuccess">
					    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
					</div>
	                 <div>
	                    <button ng-click="item.remove()"  ng-show="item.isSuccess || item.isError">Remove</button>
	                </div>
            	</div>

			 </div>
			 <div class="notes-uploaded">
				 <div ng-repeat="item in note.file" class="mbot25 mtop25">

				 	<strong>{{ item.file_name }}</strong>
	                <div>
	                    <button ng-click="removeFile(item)">Remove</button>
	                </div>

				 </div>
			 </div>
			 <div class="to-be-deleted" ng-show="note.fileDelete.length">
				 <h3>Files to be Deleted</h3>
				 <div ng-repeat="item in note.fileDelete" class="mbot25 mtop25">
				 	<strong>{{ item.file_name }}</strong>
	                <div>
	                    <button ng-click="undoRemoveFile(item)">Undo</button>
	                </div>
				 </div>
			 </div>

			<form name="noteForm" novalidate>
				<div class="row">
					<div class="col-md-4">
						<label for="no_of_pages">Number of Pages:</label>
					</div>
					<div class="col-md-2 form-group">
						<input ng-model="note.page_count" type="number" class="form-control" name="num_of_pages" required max="999" min="1" pattern="[0-9]"/>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-4" ng-hide="1">
						<label for="note_preview">Note Preview:</label>
					</div>
					<div class="col-md-4 form-group" ng-hide="1">
						<select ng-model="note.notePreview" class="form-control" name="note_preview">
							<option value="firstOnly">First Page Only</option>
						</select>
					</div>
					<div class="clearfix"></div>
					<hr class="narrower">
					<div class="col-md-4">
						<label for="note_price">Note Price:</label>
					</div>
					<div class="col-md-5">
						<div class="input-group form-group" ng-class="{'has-error': noteForm.note_price.$dirty && noteForm.note_price.$invalid}" >
							<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
							<input ng-model="note.price" ng-pattern="/^(0|[3-9]|[1-9][0-9]|[1-9][0-9][0-9])$/" type="number" class="form-control note_price" name="note_price" placeholder="0.00" ng-disabled="priceToggle"/>
							<span class="input-group-addon" ng-hide="priceToggle"> + {{noteFee | currency}} fee</span>
						</div>
						<div class="has-error-text mbot15" style="display: block;" ng-show="!priceToggle && (noteForm.note_price.$touched || noteForm.submitted || noteForm.note_price.$dirty) && noteForm.note_price.$invalid">Please input a valid price between $3 and $999.</div>
					</div>
					<div class="col-md-3 form-group">
						<label for="free_price" >
							<input type="checkbox" id="free_price" value="free" ng-model="priceToggle" ng-change="freeNoteToggle()"/> Make it Free!
						</label>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-4">
						<label for="charity_split">Organization Split:</label>
					</div>
					<div class="col-md-3 form-group" ng-class="{'has-error': noteForm.charity_split.$dirty && noteForm.charity_split.$invalid}">
						<select ng-model="note.charity_split" class="form-control" name="charity_split" required>
							<!-- <option value="20">20%</option> -->
							<option value="24">24%</option>
							<option value="30">30%</option>
							<option value="50">50%</option>
							<option value="75">75%</option>
							<option value="100">100%</option>
						</select>
					</div>
					<div class="col-md-5 form-group">
						<p class="muted">Choose the percent of your sales to be given to the student organization of your choosing.</p>
						<p><a href="" ng-click="learnMore()">Learn More</a></p>
						<!-- charitysupport MODAL GOES HERE -->

					</div>
					<div class="clearfix"></div>
					<div class="col-md-4">
						<label for="select_charity">Select Organization:</label>
					</div>
					<div class="col-md-8 form-group" ng-class="{'has-error': noteForm.charity.$dirty && noteForm.charity.$invalid}">

					<ui-select ng-model="note.charity" name="charity" theme="bootstrap" ng-disabled="disabled" cg-busy="organizationListRetrieval" on-select="loadOrganization($item, $model)" required>

 								<ui-select-match placeholder="Select an organization from the list...">{{$select.selected.name}}</ui-select-match>
							   <ui-select-choices repeat="country in organizationList | filter: $select.search">
							      <span ng-bind-html="country.name | highlight: $select.search"></span>

							    </ui-select-choices>
						</ui-select>
					</div>
					<div class="col-md-6 col-md-offset-12 form-group charity-description" cg-busy="organizationPromise">

						<p class="muted">{{organizationInfo.organization.name}}</p>
						<p class="muted">{{organizationInfo.profile.bio}}</p>

					</div>
					<div class="clearfix"></div>
					<div class="col-md-8 col-md-offset-4 form-group">
						<!-- LIVE PAYMENT CALCULATION GOES HERE -->
						<p class="muted">You Make: <text>{{yourAmount() | currency}}</text></p>
						<p class="muted">Organization Makes: <text>{{charityAmount() | currency}}</text></p>
					</div>
					<div class="clearfix"></div>
					<hr class="narrower">
					<div class="col-xs-12 mbot15 form-group full-width" ng-class="{'has-error': (noteForm.note_title.$dirty || noteForm.submitted) && noteForm.note_title.$invalid}">
						<label for="note_title">Note Title: <span class="muted">(Max: 50 characters)</span></label>
						<!-- SOME TYPE OF CHARACTER COUNTER GOES HERE -->
						<input ng-model="note.title" class="form-control" name="note_title" ng-minlength=3 ng-maxlength=50 required />
						<div ng-show="noteForm.note_title.$dirty">
							<div class="has-error-text" id="title-error" ng-show="noteForm.note_title.$error.minlength || noteForm.note_title.$error.maxlength">Title must be between 3 and 50 characters</div>
							<div class="has-error-text" id="title-error" ng-show="noteForm.note_title.$error.required">A title is required</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-xs-12 form-group full-width" ng-class="{'has-error': (noteForm.note_description.$dirty || noteForm.submitted) && noteForm.note_description.$invalid}">
						<label for="note_description">Note Description:</label>
						<textarea ng-model="note.description" class="form-control" name="note_description" required ng-minlength="10" ng-maxlength="10000"></textarea>

							<div ng-show="noteForm.note_description.$dirty || noteForm.submitted">
							<div class="has-error-text" ng-show="noteForm.note_description.$error.minlength || noteForm.note_description.$error.maxlength">Description must be between 10 and 10000 characters</div>
							<div class="has-error-text" ng-show="noteForm.note_description.$error.required">Please write a description.</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<hr class="narrower">
					<div class="col-md-4">
						<label for="school">School:</label>
					</div>
					<div class="col-md-8 form-group" ng-class="{'has-error': (noteForm.school.$dirty || noteForm.submitted) && noteForm.school.$invalid}">
						<ui-select ng-model="note.school" name="school" data-ng-disabled="disabled" theme="bootstrap" on-select="schoolSelected($item, $model)" ng-change="searchCourse()" ng-enter required>
							<ui-select-match placeholder="Search for your school">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices refresh="searchSchool($select.search)" refresh-delay="300" repeat="school in schools">
							<div ng-bind-html="school.name | highlight: $select.search"></div>
							 <small>
						      {{school.city}},{{school.state}}
						      </small>
						</ui-select-choices>
					</ui-select>
					<div class="has-error-text" id="description-error" style="display: block;" ng-show="noteForm.submitted && noteForm.school.$invalid">Please select a school.</div>
					</div>
					<div class="clearfix mbot15"></div>
					<div class="col-md-4">
						<label for="semester">Semester:</label>
					</div>
					<div class="col-md-4 form-group" ng-class="{'has-error': (noteForm.semester.$dirty || noteForm.submitted) && noteForm.semester.$invalid}">
						<select ng-model="note.term" class="form-control" name="semester" required>
							<option value="Spring">Spring</option>
							<option value="Summer">Summer</option>
							<option value="Fall">Fall</option>
							<option value="Winter">Winter</option>
						</select>
						<div class="has-error-text" id="semester-error" style="display: block;" ng-show="(noteForm.semester.$touched || noteForm.submitted || noteForm.semester.$dirty) && noteForm.semester.$invalid">Please select a semester.</div>
					</div>
					<div class="col-md-4 form-group" ng-class="{'has-error': (noteForm.semester_year.$dirty || noteForm.submitted) && noteForm.semester_year.$invalid}">
						<select class="form-control" name="semester_year" required ng-model="note.year" ng-options="year for year in semesterYears track by year">
						</select>

					</div>
					<div class="clearfix mbot15"></div>
					<div class="col-md-4">
						<label for="course">Course:</label>
					</div>
					<div class="col-md-8 form-group" ng-class="{'has-error': (noteForm.course.$dirty || noteForm.submitted) && noteForm.course.$invalid}">
						<ui-select ng-model="note.course" data-ng-disabled="disabled" theme="bootstrap" name="course" required ng-enter>
								<ui-select-match placeholder="Search for your course">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="course in courses"  refresh="searchCourse($select.search)"
             refresh-delay="1">
								 <div ng-bind-html="course.name | highlight: $select.search"></div>
					               <small>
					                  {{course.title}}
					                </small>
							</ui-select-choices>
						</ui-select>
						<div class="add-new">
							<p><a href="" ng-click="addCourse()">Don't see your Course in the list?</a></p>
							<!-- new-course MODAL GOES HERE -->
						</div>
						<div class="has-error-text" id="description-error" ng-show="noteForm.submitted && noteForm.course.$invalid">Please identify the course.</div>
					</div>
					<div class="clearfix mbot15"></div>
					<div class="col-md-4">
						<label for="professor">Instructor:</label>
					</div>
					<div class="col-md-8 form-group" ng-class="{'has-error': (noteForm.instructors.$dirty || noteForm.submitted) && noteForm.instructors.$invalid}">

						<ui-select ng-model="note.instructor" data-ng-disabled="disabled" theme="bootstrap" name="instructors" required ng-enter>
							<ui-select-match placeholder="Search for your Instructor">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="instructor in instructors" refresh="searchInstructor($select.search)"
             refresh-delay="1">
							<span ng-bind-html="instructor.name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
						<div class="add-new">
							<p><a href="" ng-click="addInstructor()">Don't see your Instructor in the list?</a></p>
							<!-- new-instructor MODAL GOES HERE -->
						</div>
						<div class="has-error-text" id="description-error" style="display: block;" ng-show="noteForm.submitted && noteForm.instructors.$invalid">Please identify the instructor.</div>
					</div>
					<div class="clearfix"></div>
					<hr class="narrower">
					<div class="col-md-4">
						<label for="paypal_account">PayPal Account:</label>
					</div>
					<div class="col-md-8 form-group">


					<div ng-hide="editorEnabled">
				      {{paypalEmailUpdate}}
				      <a ng-click="editorEnabled=!editorEnabled; ">Edit</a>
				    </div>
				    <div ng-show="editorEnabled" cg-busy="paypalQuickUpdatePromise">
				      <input ng-model="paypalEmailUpdate" class="form-control" name="paypal_account" ng-enter="savePaypalSettings()" />
				      <a ng-click="savePaypalSettings()" style="cursor:pointer">Save</a>
				      <span ng-repeat="error in paypalErrors"><p>{{error}}</p></span>
				    </div>

						<span class="muted">All payments are delivered to you securely via Paypal. <br><a href="https://www.paypal.com/signup/account" target="_blank">Need an account?</a></span>
					</div>
					<div class="clearfix"></div>
					<hr class="narrower">
					<div class="alert alert-danger" ng-repeat="(key,error) in errors" ng-repeat="error in errors">{{key}} - {{error}}</div>
					<div class="alert alert-success" ng-show="noteSaveSuccess == true">Note Saved</div>
					<div class="col-md-12 form-group">
						<label for="agree_terms">
							<input ng-model="eula" type="checkbox" name="agree_terms" id="agree_terms" required /> I have read and agree to the <a ui-sref="app.legal" target="_blank">Terms of Use</a>
						</label>
						<div class="has-error-text" id="terms-error" style="display: block;" ng-show="(noteForm.agree_terms.$touched || noteForm.submitted || noteForm.agree_terms.$dirty) && noteForm.agree_terms.$invalid">You must agree to our terms before creating an account.</div>
					</div>

					<div class="clearfix"></div>
					<div class="col-md-12 form-group text-center mtop25 mbot50 form-action-holder" cg-busy="saveNotePromise">
						<button id="save" class="btn btn-minor col-sm-5" ng-click="saveNote('draft')">Save as Draft</button>
						<button type="button" id="submit" class="btn btn-primary col-sm-5 mleft50" ng-click="saveNote('final')" >{{(note.id && note.status == 'active') ? 'Save' : 'Publish'}}</button>
					</div>
				</div>
			</form>

		</div>
		<div class="col-md-4 col-xs-12 mbot25">
			<p class="lead">TIPS FOR BETTER SALES</p>
			<p class="mbot15">Sharing your notes can be a good way to earn some quick cash. Just make sure not to break any rules in the process!</p>
			<ul class="tips-list">
				<li>Write a good note description</li>
				<!-- <li>Make sure you're not uploading copyrighted material</li> -->
				<li>Email your classmates, if your school policy allows it</li>
				<li>Promote your notes early on and again right before the test</li>
				<li>Encourage people to Like and Tweet</li>
			</ul>
		</div>
	</section>
	<div class="clearfix"></div>
</div>