<div class="container results mtop25 mbot25 outline">
	<section class="row">
		<div class="col-xs-12 mbot25">
			<h1>Create New Note</h1>
			<p class="muted">Do you have good notes? Share them with the rest of your class!</p>
		</div>
		<div class="col-md-8 col-sm-12 hr-right">

			<!-- Standard Form -->
			<h4>Select notes from your computer</h4>
			<form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
				<div class="form-inline">
					<div class="form-group">
						<input type="file" name="files[]" id="js-upload-files" multiple>
					</div>
					<button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
				</div>
			</form>

			<!-- Drop Zone -->
			<div class="upload-drop-zone mtop15" id="drop-zone">
				...or drag and drop files here!
			</div>

			<!-- Upload Finished -->
			<div class="js-upload-finished">
				<h3>Processed files</h3>
				<div class="list-group"><p class="muted"><em>No uploaded files</em></p></div>
			</div>

			<form ng-submit="create()">
				<div class="row">
					<div class="col-md-4">
						<label for="no_of_pages">Number of Pages:</label>
					</div>
					<div class="col-md-2 form-group">
						<input ng-model="note.page_count" type="number" class="form-control" name="num_of_pages" required max="999" min="1" pattern="[0-9]"/>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-4">
						<label for="note_preview">Note Preview:</label>
					</div>
					<div class="col-md-4 form-group">
						<select ng-model="notePreview" class="form-control" name="note_preview">
							<option value="firstOnly">First Page Only</option>
						</select>
					</div>
					<div class="clearfix"></div>
					<hr class="narrower">
					<div class="col-md-4">
						<label for="note_price">Note Price:</label>
					</div>
					<div class="col-md-5">
						<div class="input-group form-group">
							<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
							<input ng-model="price"  type="number" class="form-control note_price" name="note_price" placeholder="i.e. 5.00" />
							<span class="input-group-addon"> + $1.00 fee</span>
						</div>
					</div>
					<div class="col-md-3 form-group">
						<label for="free_price" >
							<input ng-model="free" type="checkbox" name="free_price" id="free_price" /> Make it Free!
						</label>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-4">
						<label for="charity_split">Charity Split:</label>
					</div>
					<div class="col-md-3 form-group">
						<select ng-model="charity_split" class="form-control" name="charity_split">
							<option value="10">10%</option>
							<option value="20">20%</option>
							<option value="25">25%</option>
							<option value="50">50%</option>
							<option value="75">75%</option>
							<option value="100">100%</option>
						</select>
					</div>
					<div class="col-md-5 form-group">
						<p class="muted">A portion of every sale is given to the nonprofit of your choosing.</p>
						<p><a href="" ng-click="learnMore()">Learn More</a></p>
						<!-- charitysupport MODAL GOES HERE -->

					</div>
					<div class="clearfix"></div>
					<div class="col-md-4">
						<label for="select_charity">Select Charity:</label>
					</div>
					<div class="col-md-8 form-group">

						<ui-select ng-model="organization.selected" theme="bootstrap" ng-disabled="disabled" cg-busy="organizationListRetrieval">
 								<ui-select-match placeholder="Select or search a Charity in the list...">{{$select.selected.name}}</ui-select-match>
							   <ui-select-choices repeat="country in organizationList | filter: $select.search">
							      <span ng-bind-html="country.name | highlight: $select.search"></span>

							    </ui-select-choices>
						</ui-select>
					</div>
					<div class="col-md-6 col-md-offset-12 form-group charity-description" cg-busy="organizationPromise">
						<p class="muted">{{organization.name}}</p>

						<p class="muted">{{organization.bio}}</p>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-8 col-md-offset-4 form-group">
						<!-- LIVE PAYMENT CALCULATION GOES HERE -->
						<p class="muted">You Make: $<text>{{yourAmount()}}</text></p>
						<p class="muted">Charity Makes: $<text>{{charityAmount()}}</text></p>
					</div>
					<div class="clearfix"></div>
					<hr class="narrower">
					<div class="col-xs-12 mbot15 form-group">
						<label for="note_title">Note Title: <span class="muted">(Max: 50 characters)</span></label>
						<!-- SOME TYPE OF CHARACTER COUNTER GOES HERE -->
						<input ng-model="noteTitle" class="form-control" name="note_title" required maxlength="50" />
					</div>
					<div class="clearfix"></div>
					<div class="col-xs-12 form-group">
						<label for="note_description">Note Description:</label>
						<textarea ng-model="noteDesc" class="form-control" name="note_description" required maxlength="10000"></textarea>
					</div>
					<div class="clearfix"></div>
					<hr class="narrower">
					<div class="col-md-4">
						<label for="school">School:</label>
					</div>
					<div class="col-md-8 form-group">
						<!-- SCHOOL JSON GOES HERE -->
						<ui-select ng-model="school.selected" data-ng-disabled="disabled" theme="bootstrap" on-select="schoolSelected($item, $model)" ng-change="searchCourse()">
							<ui-select-match placeholder="Search for your school">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices refresh="searchSchool($select.search)" refresh-delay="300" repeat="school in schools">
							<div ng-bind-html="school.name | highlight: $select.search"></div>
							 <small>
						      {{school.city}},{{school.state}}
						      </small>
						</ui-select-choices>
					</ui-select>
					</div>
					<div class="clearfix mbot15"></div>
					<div class="col-md-4">
						<label for="semester">Semester:</label>
					</div>
					<div class="col-md-4 form-group">
						<select ng-model="semester" class="form-control" name="semester" required>
							<option value="Spring">Spring</option>
							<option value="Summer">Summer</option>
							<option value="Fall">Fall</option>
							<option value="Winter">Winter</option>
						</select>
					</div>
					<div class="col-md-4 form-group">
						<!-- FLOATING CALCULATION FOR 1 YEAR BACK, CURRENT YEAR, PLUS 1 YEAR FORWARD -->
						<select class="form-control" name="semester-year" required>
							<option ng-selected="{{currentYear == year.year}}"
            				ng-repeat="year in availableSemesterYears()"
				            value="{{year.year}}">
				      {{year.year}}
				    </option>
						</select>
					</div>
					<div class="clearfix mbot15"></div>
					<div class="col-md-4">
						<label for="course">Course:</label>
					</div>
					<div class="col-md-8 form-group">
						<ui-select ng-model="course.selected" data-ng-disabled="disabled" theme="bootstrap" ng-change="searchInstructor()">
								<ui-select-match placeholder="Search for your course">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="course in courses"  refresh="searchCourse($select.search)"
             refresh-delay="1">
								<span ng-bind-html="course.name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
						<div class="add-new">
							<p><a href="" ng-click="addCourse()">Don't see your Course in the list?</a></p>
							<!-- new-course MODAL GOES HERE -->
						</div>
					</div>
					<div class="clearfix mbot15"></div>
					<div class="col-md-4">
						<label for="professor">Instructor:</label>
					</div>
					<div class="col-md-8 form-group">
						<!-- PROFESSOR LIST JSON GOES HERE -->
							<ui-select ng-model="instructor.selected" data-ng-disabled="disabled" theme="bootstrap" >
							<ui-select-match placeholder="Search for your Instructor">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="instructor in instructors" refresh="searchInstructor($select.search)"
             refresh-delay="1">
							<span ng-bind-html="instructor.name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
						<div class="add-new">
							<p><a href="" ng-click="addInstructor()">Don't see your Instructor in the list?</a></p>
							<!-- new-instructor MODAL GOES HERE -->
						</div>
					</div>
					<div class="clearfix"></div>
					<hr class="narrower">
					<div class="col-md-4">
						<label for="paypal_account">PayPal Account:</label>
					</div>
					<div class="col-md-8 form-group">


					<div ng-hide="editorEnabled">
				      {{paypalEmailUpdate}}
				      <a ng-click="editorEnabled=!editorEnabled; ">Edit</a>
				    </div>
				    <div ng-show="editorEnabled" cg-busy="paypalQuickUpdatePromise">
				      <input ng-model="paypalEmailUpdate" class="form-control" name="paypal_account" ng-enter="savePaypalSettings()" />
				      <a ng-click="savePaypalSettings()" style="cursor:pointer">Save</a>
				      <span ng-repeat="error in paypalErrors"><p>{{error}}</p></span>
				    </div>

						<span class="muted">All payments are delivered to you securely via Paypal. <br><a href="https://www.paypal.com/signup/account" target="_blank">Need an account?</a></span>
					</div>
					<div class="clearfix"></div>
					<hr class="narrower">
					<div class="col-md-12 form-group">
						<label for="agree_terms">
							<input ng-model="eula" type="checkbox" name="agree_terms" id="agree_terms" required /> I have read and agree to the <a ui-sref="app.legal" target="_blank">Terms of Use</a>
						</label>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-12 form-group text-center mtop25 mbot50 form-action-holder">
						<a href="note-draft-confirmation" id="save" class="btn btn-minor col-sm-5">Save as Draft</a>
						<button type="submit" id="submit" class="btn btn-primary col-sm-5">Create!</button>
					</div>
				</div>
			</form>

		</div>
		<div class="col-md-4 col-xs-12 mbot25">
			<p class="lead">TIPS FOR BETTER SALES</p>
			<p class="mbot15">Sharing your notes can be a good way to earn some quick cash. Just make sure not to break any rules in the process!</p>
			<ul class="tips-list">
				<li>Write a good note description</li>
				<!-- <li>Make sure you're not uploading copyrighted material</li> -->
				<li>Email your classmates, if your school policy allows it</li>
				<li>Promote your notes early on and again right before the test</li>
				<li>Encourage people to Like and Tweet</li>
			</ul>
		</div>
	</section>
	<div class="clearfix"></div>
</div>