<div class="container results mtop25 mbot25 outline" cg-busy="notePromise">
		<section class="row">
			<div class="col-md-9 col-sm-12">
				<h1>{{note.title}}</h1>
				<p class="muted">{{note.school.name}} / {{note.course.name}} - {{note.course.title}}</p>
				<div class="row">
					<div class="col-sm-7 col-xs-12 mbot25">
					<iframe ng-if="note.preview" ng-src="{{getPreviewLink()}}"   alt="Note Snapshot" class="img-responsive" style="width:600px; height:500px;" frameborder="0"></iframe>

						<p class="large text-center mbot25 mtop25 visible-sm visible-xs">Price: {{note.price | currency}}</p>
						<button class="btn btn-primary btn-block mbot25 visible-sm visible-xs" ng-click="authenticated ? purchaseModal() : signinModal()">Buy Now</button>
						<main class="col-xs-12 mbot25 visible-xs visible-sm">
							<p class="muted mbot15 mtop25-sm">NOTE PURCHASE SUPPORTS</p>
							<img ng-if="note.charity.logo" ng-src="{{note.charity.logo}}" class="img-responsive" alt="Charity Picture" />
							<p ng-if="note.charity.logo == undefined">{{note.charity.name}}</p>
							<p class="mtop15 mbot25 text-center"><a href="#" data-toggle="modal" data-target="#charityinfo">Learn More</a></p>
						</main>
						<p class="text-center mtop15 report-contact">
							<a href="#" data-toggle="modal" data-target="#violation">Report Violation</a> | <a href="#" data-toggle="modal" data-target="#contactseller">Contact Seller</a>
						</p>
					</div>
					<div class="col-sm-5 col-xs-12 mbot25">
						<div class="row">
							<div>
								<img ng-src="{{ note.user.profile.profile_picture || 'img/profile.png' }}" class="img-responsive note-details-img" alt="Profile Picture" />
							</div>
							<p>By: <a ui-sref="app.viewprofile({username:note.user.username})">{{note.user.username}}</a></p>
							<p ng-if="note.user.profile.school">Attends: {{note.user.profile.school.name}}</p>
							<p>Joined: {{note.user.date_joined | date}}</p>
							<div class="clearfix"></div>
							<div class="col-xs-12 text-center">
								<button class="btn btn-minor btn-block mtop25-xs" ng-click="followUser()">Follow</button>
															</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-xs-12">
								<div class="fb-like" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
								<h2>File Info</h2>
							</div>
							<div class="col-xs-5">
								<p>Created:</p>
								<p>Term:</p>
								<p>Pages:</p>
								<p>Format:</p>
								<p>Purchases:</p>
								<p>Rating:</p>
							</div>
							<div class="col-xs-7">
								<p>{{note.created | date}}</p>
								<p>{{note.term + " " + note.year}}</p>
								<p>{{note.page_count}}</p>
								<p>{{note.kind}}</p>
								<p>{{note.sold_count}}</p>
								<p>
									<i ng-repeat=" i in [] | range:note.user.rating" class="fa fa-star"></i>
									<i ng-repeat=" i in [] | range:(5 - note.user..rating)" class="fa fa-star off"></i>
								</p>
							</div>
						</div>

					</div>
					<div class="col-xs-12">
						<hr>
						<h2>Details</h2>
						<p>{{note.description}}</p>
					</div>
				</div>
				<div class="comments-holder" cg-busy="noteFeedbackPromise" ng-if="noteFeedback.results">
					<hr>
					<h2>Comments</h2>
					<div class="row mtop15 mbot15"   ng-repeat="feedback in noteFeedback.results">
				<div class="col-sm-2 col-xs-3 text-center">
					<img src="img/profile.png" class="img-responsive" alt="Profile Picture" />
					<a href="user-profile" class="thin">{{feedback.created | date}}</a>
				</div>
				<div class="col-sm-10 col-xs-9">
					<p class="muted"><em>{{feedback.user.username}}</em></p>
					<p>{{feedback.content}}</p>
				</div>
			</div>
			<hr>
			<div class="clearfix"></div>				
			</div>
			</div>
			<div class="col-md-3 col-sm-12 price-holder-details">
				<main class="col-xs-12 mbot25 hidden-sm hidden-xs">
					<p class="lead text-center mtop25">Price: {{note.price | currency}}</p>
					<button class="btn btn-primary btn-block" ng-click="authenticated ? purchaseModal() : signinModal()">Buy Now</button>
					<hr class="dotted mtop25 mbot25">
					<p class="muted mbot15 mtop25-xs">NOTE PURCHASE SUPPORTS</p>
					<img ng-if="note.charity.logo" ng-src="{{ note.charity.logo}}" class="img-responsive" alt="Charity Picture" />
					<p ng-if="note.charity.logo == undefined">{{note.charity.name}}</p>
					<p class="mtop15 mbot25 text-center"><a href="#" data-toggle="modal" data-target="#charityinfo">Learn More</a></p>
				</main>
			</div>
		</section>
						<div class="clearfix"></div>
	</div>
