	<div class="container results mtop25 mbot25 outline">

		<div class="row mtop25 mbot25" ng-hide="(purchasedConfirmed && note) || purchasedConfirmedFailed || detailsRetrievalFailure ">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<h1>Please wait, retrieving purchase confirmation</h1>
				<p></p>
			</div>
			<br><br><br>
			<div cg-busy="purchasedConfirmationPromise" style="height:10%">
			
			</div>
		</div>

		
		<div class="row mtop25 mbot25" ng-show="purchasedConfirmedFailed">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<h1>Unable to confirm purchase</h1>
				<p>This issue can have occured for several reasons, which can be caused by: </p>
				<ul>
				<li>A temporary server issue on our side or Paypal</li>
				<li>Unable to access the Internet</li>
				<li>Not completing the payment on paypal</li>
				</ul>

				<p>Please feel free to attempt a verification by clicking the retry button below</p>
				<hr class="mtop25 mbot25">
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-3 col-sm-offset-3 col-xs-8 col-xs-offset-2 mtop25 mbot25 mbot0-xs">
				<a href="javascript:void(0)" ng-click="attemptVerification()" class="btn btn-minor btn-block mbot15">Retry</a>
			</div>
			<div class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 mtop25 mbot25 mtop0-xs">
				<a ui-sref="app.contact" class="btn btn-primary btn-block mbot15">Contact Us</a>
			</div>

		</div>
		<div class="row mtop25 mbot25" ng-show="purchasedConfirmed && note">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<h1>Note Successfully Purchased!</h1>
				<p>What would you like to do now?</p>
				<hr class="mtop25 mbot25">
			</div>
			<div class="clearfix"></div>
			<p class="mtop15 text-center lead">{{note.title}}</p>
			<div class="col-sm-3 col-sm-offset-3 col-xs-8 col-xs-offset-2 mtop25 mbot25 mbot0-xs">
				<a href="javascript:void(0)" ui-sref="app.settings.notes-purchased" class="btn btn-minor btn-block mbot15">View Purchases</a>
			</div>
			<div class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 mtop25 mbot25 mtop0-xs">
				<a href="#" class="btn btn-primary btn-block mbot15">Download</a>
			</div>

			<div class="col-xs-10 col-xs-offset-1 text-center" ng-show="note.charity.fact">
				<hr class="mtop25 mbot25">
			<h1>One Fact</h1>
			<p>Brought to you by <a>{{note.charity.name}}</a></p>
			<main id="one-fact">
				<p class="muted mtop25-xs">{{note.charity.fact}}</p>
			</main>
			</div>
		</div>

		<div class="row mtop25 mbot25" ng-show="purchasedConfirmed && detailsRetrievalFailure">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<h1>Note Successfully Purchased!</h1>
				<p>What would you like to do now?</p>
				<hr class="mtop25 mbot25">
			</div>
			<div class="clearfix"></div>
			
			<div class="col-sm-3 col-sm-offset-3 col-xs-8 col-xs-offset-2 mtop25 mbot25 mbot0-xs">
				<a href="javascript:void(0)" ui-sref="app.settings.notes-purchased" class="btn btn-minor btn-block mbot15">View Purchases</a>
			</div>
			

		</div>
	</div>

	</div>