
	<div class="container results mtop25 mbot25 outline">
		<div class="row mtop25 mbot25">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<h1>Your note has been posted!</h1>
				<p>What would you like to do now?</p>
				<hr class="mtop25 mbot25">
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-3 col-sm-offset-3 col-xs-8 col-xs-offset-2 mtop25 mbot25 mbot0-xs">
				<a href="new-note" class="btn btn-minor btn-block mbot15-xs">Edit Note</a>
			</div>
			<div class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 mtop25 mbot25 mtop0-xs">
				<a href="notes-for-sale" class="btn btn-primary btn-block">Done</a>
			</div>
		</div>
	</div>

	</div>