
<div class="container mtop25 pbot25">
  <div class="row">
    <div class="row">
      <div class="col-md-9">
        <div class="results pad15 outline">
          <section class="row vertical-align normalize-xs normalize-sm">
            <div class="col-md-6 col-xs-12 title-block">
              <h1>Notes For Sale</h1>
              <!-- <p class="lead muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
            </div>
            <div class="col-xs-3 text-right mtop25-sm mbot25-sm">
              <p class="lead mbot0">{{itemCount}} Items</p>
            </div>
            <div class="col-md-3 col-xs-9 mtop25-sm mbot25-sm">
              <select class="form-control" ng-model="orderListValue">
                <option value="date">Newest First</option>
                <option value="notePrice">Lowest Price</option>
                <option value="-notePrice">Highest Price</option>
              </select>
            </div>
          </section>
          <main class="row">
            <div class="col-xs-12">
              <div class="row vertical-align normalize-xs lined" ng-repeat="note in notes | orderBy: orderListValue">
                <div class="col-sm-8 col-xs-12 mtop15 mbot5">
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="lead mbot0"><a href="note-details">{{note.noteTitle}}</a></p>
                    </div>
                    <div class="col-sm-6 col-xs-4 mtop15 mbot5">
                      <p>Price: {{note.notePrice | currency}}</p>
                      <p>Sales: N/A</p>
                      <p>Revenue: N/A</p>
                      <p>Charity Split: N/A</p>
                    </div>
                    <div class="col-sm-6 col-xs-8 mtop15 mbot5">
                      <p class="visible-xs lead">{{note.notePrice | currency}}</p>
                      <p class="visible-xs muted">Provided by: <a href="user-profile">{{note.providedBy}}</a></p>
                      <p>Date: {{note.date}}</p>
                      <p>Course: {{note.course}}</p>
                      <p>Instructor: {{note.instructor}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 text-center form-group">
                  <select class="form-control" name="note-status">
                    <option>Active</option>
                    <option>Disabled</option>
                  </select>
                  <a href="new-note" class="btn btn-minor btn-block mtop5">Edit</a>
                  <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#promotenotes">Promote</button>
                </div>
              </div>
            </div>
          </main>
          <footer class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
              <ul class="pagination mtop50 mbot50">
                <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
              </ul>
            </div>
          </footer>
          <header class="row ptop25 pbot25 bottom">
            <div class="col-xs-12 text-align">
              <p class="lead mbot0">Total Earnings: $42.00</p>
            </div>
          </header>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 mtop25-sm mtop0-xs">
        <div class="row">
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="results pad15 mbot25 mtop25-xs">
              <h3>Settings</h3>
              <hr>
              <p><a ui-sref="app.profile-settings">Profile Settings</a></p>
              <p><a ui-sref="app.password-settings">Passwords</a></p>
              <p><a ui-sref="app.payment-settings">Payment Info</a></p>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="results pad15 mbot25">
              <h3>Dashboard</h3>
              <hr>
              <p><a ui-sref="app.notes-purchased">Notes Purchased</a></p>
              <p><a ui-sref="app.notes-forsale">Notes for Sale</a></p>
              <p><a ui-sref="app.watch-list">Watch List</a></p>
              <p><a ui-sref="app.messages">Messages</a></p>
            </div>
          </div>
        </div>              
      </div>
    </div>
  </div>
</div>