<div class="container results mtop25 mbot25 outline">
		<h1>Organization Partnerships</h1>
		<p class="muted mbot50">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p> <!-- eg: we value our partners -->
		<h2>Our Partners</h2>
		<p>NoteBooster was founded under the belief that college students really can change the world. It's our privilege to help these student organizations, one community at a time, do exactly that.</p>

		<div class="row mtop25">
			<!-- <div class="col-sm-4">
				<ul>
					<li><a href="organization-profile">Who We Play For FSU</a></li>
					<li><a href="organization-profile">GMT UF</a></li>
					<li><a href="organization-profile">PKT Illinois</a></li>
				</ul>
			</div> -->
			<div class="col-sm-12 col-md-4">
				<p class="text-center"><a href="#">Who We Play For - FSU</a></p>
    			<img src="http://placehold.it/500x300" class="img-responsive" alt="">
    		</div>
    		<div class="col-sm-12 col-md-4">
				<p class="text-center"><a href="#">GMT - UF</a></p>
    			<img src="http://placehold.it/500x300" class="img-responsive" alt="">
    		</div>
    		<div class="col-sm-12 col-md-4">
				<p class="text-center"><a href="#">PKT Illinois</a></p>
    			<img src="http://placehold.it/500x300" class="img-responsive" alt="">
    		</div>
		</div>

		<hr class="mtop25 mbot15">

		<h2>Becoming a Partner</h2>

		<p>Currently, we're only accepting one student organization per campus. If you're interested in expanding your organization's fundraising efforts through NoteBooster, take a few minutes to fill out the application on the following page.</p>

		<h3>Requirements</h3>
		<ul>
			<li>Full commitment to our core values & brand promise.</li>
			<li>PayPal account with a tax exemption number.</li>
			<li>A brief statement of your organization's purpose.</li>
		</ul>


		<div class="row mtop25">
			<div class="col-sm-4 col-sm-offset-4">
				<a ui-sref="app.organization-register" class="btn btn-primary btn-block">Start</a>
			</div>
		</div>

		<hr class="mtop25 mbot15">
		<h2>Contact Us</h2>

		<div class="row mtop25 mbot25">
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<!-- <p class="lead mbot15">Nam liber tempor</p> -->
						<p>(650) 564-7104</p>
						<p>PO Box 20845 Tallahassee, FL 32316</p>
						<p>contact@notebooster.com</p>
					</div>
				</div>
			</div>
		</div>

	</div>
