					<div class="results pad15 outline" cg-busy="donationsPromise">
						<section class="row vertical-align normalize-xs normalize-sm">
							<div class="col-md-6 col-xs-12 title-block">
								<h1>Donations</h1>
								<p class="muted">These are the donations you have received from note sales.</p>
							</div>
							<div class="col-xs-3 text-right mtop25-sm mbot25-sm">
								<p class="lead mbot0">{{donationsCount}} Items</p>
							</div>
							<div class="col-md-3 col-xs-9 mtop25-sm mbot25-sm">
								<select ng-model="order" ng-change="getDonations(page,order)" class="form-control" disabled>
									<option value='date'>Sort by Date</option>
								</select>
							</div>
						</section>
						<div class="row">
							<div class="col-xs-12" ng-repeat="donation in donations">
									<div class="row lined">
										<div class="col-sm-2 col-xs-8">
											<p>{{donation.created | date}}</p>
										</div>
										<div class="col-sm-2 col-xs-4">
											<p>{{donation.charity_amt | currency}}</p>
										</div>
										<div class="col-sm-4 col-xs-12 text-center">
											<p>
												<a id="{{donation.note.id}}" ng-click="getNoteDetails($event)">{{donation.note.title}}</a>
												<span> / </span>
												<a id="{{donation.buyer.username}}" ng-click="getUserProfile($event)">{{donation.buyer.username}}</a>
											</p>
										</div>
										<div class="clearfix"></div>
									</div>
									<hr class="mtop0">
								</div>
						</div>
						<footer class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
              <pagination ng-model="page" total-items="donationsCount" boundary-links="true"
                first-text="&laquo;" previous-text="&lsaquo;" next-text="&rsaquo;"  last-text="&raquo;"
                rotate="true" max-size="maxSize" ng-change="getDonations(page,order)">
              </pagination>
            </div>
						</footer>
						<header class="row ptop25 pbot25 bottom">
							<div class="col-xs-12 text-align">
								<p class="lead mbot0">Total Earnings: {{totalDonationAmount | currency}}</p>
							</div>
						</header>
						<div class="clearfix"></div>
					</div>