<div class="container results mtop25 mbot25 outline">
		<h1>Organization Partnerships</h1>
		<p class="mbot50">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
		<h2>Existing Partners</h2>
		<p><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</strong></p>
		<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes
			demonstraverunt lectores legere me lius quod ii legunt saepius. Typi non habent claritatem insitam; est
			usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius
			quod ii legunt saepius. Claritas est etiam processus dynamicus</p>

		<div class="row">
			<div class="col-sm-4">
				<ul>
					<li><a href="organization-profile">Who We Play For</a></li>
					<li><a href="organization-profile">Est usus legentis</a></li>
					<li><a href="organization-profile">Lis qui facit eorum </a></li>
					<li><a href="organization-profile">Investigationes</a></li>
					<li><a href="organization-profile">Demonstraverunt lectores</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<ul>
					<li><a href="organization-profile">Claritatem insitam</a></li>
					<li><a href="organization-profile">Est usus legentis</a></li>
					<li><a href="organization-profile">Lis qui facit eorum </a></li>
					<li><a href="organization-profile">Investigationes</a></li>
					<li><a href="organization-profile">Demonstraverunt lectores</a></li>
				</ul>
			</div>
		</div>

		<hr class="mtop25 mbot15">

		<h2 class="">Becoming a Partner</h2>
		<p class="mbot25">We manually process accept applications for new organization partnerships. The process begins by filling out the form linked below.</p>

		<h3>Partnership Requirements</h3>
			<ul>
				<li>Verification of Non profit certificate</li>
				<li>U.S. tax exemption number</li>
				<li>PayPal account with tax exempt status</li>
			</ul>

		<p>Usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere.</p>

		<div class="row mbot50 mtop50">
			<div class="col-sm-4 col-sm-offset-4">
				<a href="organization-register" class="btn btn-primary btn-block">Start</a>
			</div>
		</div>

	</div>