<div class="container mtop25 mbot25">
		<div class="row">
			<div class="row">
				<div class="col-md-9">
					<div class="results pad15 title-block outline">
						<h1>Profile Settings</h1>
						<a ui-sref="app.vieworganization" class="pull-right">View Profile</a>
						<p class="muted mbot50">Lorem ipsum dolor sit amet, consectetuer.</p>
						<form ng-submit="saveSettings()">

							<div class="row form-group">
								<div class="col-sm-6">
									<label for="org-name">Organization Name:</label>
								</div>
								<div class="col-sm-6">
									<input ng-model="orgname" type="text" class="form-control" name="org-name" id="org-name">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-6">
									<label for="org-email">Email Address:</label>
								</div>
								<div class="col-sm-6">
									<input ng-model="orgemail" type="email" class="form-control" name="org-email">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-6 col-sm-offset-6">
									<label for="org-agree-tc">
										<input ng-model="orgemailnotification" type="checkbox" name="org-agree-tc" id="org-agree-tc" checked="true">
										Send notification via email
									</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-6">
									<label for="org-website">Website:</label>
								</div>
								<div class="col-sm-6">
									<input ng-model="website" type="text" class="form-control" name="org-website">
								</div>
							</div>

							<hr class="mtop15 mbot25">

							<div class="row form-group">
								<div class="col-sm-6">
									<label for="org-person-name">Contact Person:</label>
								</div>
								<div class="col-sm-6">
									<input ng-model="contact" type="text" class="form-control" name="org-person-name">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-6">
									<label for="org-person-email">Contact Email:</label>
								</div>
								<div class="col-sm-6">
									<input ng-model="contactemail" type="email" class="form-control" name="org-person-email">
								</div>
							</div>

							<hr class="mtop15 mbot25">

							<h2>Logo:</h2>

							<div class="row form-group">
								<div class="col-sm-3 col-xs-4">
									<img src="img/profile.png" class="img-responsive" alt="Organization Profile" />
								</div>
							</div>

							<!-- Standar Form -->
							<h4>Upload a new logo:</h4>
							<form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
								<div class="form-inline">
									<div class="form-group">
										<input type="file" name="files[]" id="js-upload-files" multiple>
									</div>
									<button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
								</div>
							</form>

							<!-- Upload Finished -->
							<div class="js-upload-finished">
								<div class="list-group"><p class="muted"></p></div>
							</div>

							<hr class="mtop15 mbot25">

							<div class="form-group mbot50">
								<p class="pull-right"><a href="" ng-click="whatsthis('shortbio')">What's this?</a></p>
								<!-- The short description appears alongside notes which support your cause. It's a brief introduction to your organization. -->
								<label for="org-short-description">Short Description: <span class="muted">(Max: 140 characters)</span></label>
								<textarea ng-model="shortbio" class="form-control" name="org-short-description"></textarea>
							</div>
							<div class="form-group mbot50">
								<p class="pull-right"><a href="" ng-click="whatsthis('fullbio')">What's this?</a></p>
								<!-- The Full Bio is your opportunity to describe your organization at length. This will be visible on your public profile page. -->
								<label for="org-full-description">Full Bio: </label>
								<textarea ng-model="fullbio" class="form-control" name="org-full-description"></textarea>
							</div>
							<div class="form-group mbot50">
								<p class="pull-right"><a href="" ng-click="whatsthis('onefact')">What's this?</a></p>
								<!-- This is a brief statement visible to students after they make a donation. Use this area to provide a thought provoking statistic or fact about your cause. -->
								<label for="org-short-description">One Fact: <span class="muted">(Max: 320 characters)</span></label>
								<textarea ng-model="onefact" class="form-control" name="org-short-description"></textarea>
							</div>

							<hr class="mtop15 mbot25">

							<a href="" ng-click="disableAccount()">Disable My Account</a>
							
							<hr class="mtop15 mbot25">

							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									<button type="submit" class="btn btn-primary btn-block mbot25 mbot0-xs">Save Settings</button>
								</div>
							</div>

						</form>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 mtop25-sm mtop0-xs">
					<div class="row">
	<div class="col-md-12 col-sm-6 col-xs-12">
		<div class="results pad15 mbot25 mtop25-xs">
			<h3>Settings</h3>
			<hr>
			<p><a ui-sref="app.organization-profile-settings">Profile Settings</a></p>
			<p><a ui-sref="app.password-settings">Passwords</a></p>
			<p><a ui-sref="app.payment-settings">Payment Info</a></p>
			<p><a ui-sref="app.organization-donations">Donations</a></p>
			<p><a ui-sref="app.messages">Messages</a></p>
		</div>
	</div>
</div>				</div>
			</div>
		</div>
	</div>

	</div>