<div class="container results mtop25 mbot25 outline" cg-busy="profileLoadPromise">
		<h1>{{profile.organization.name}}</h1>

		<div class="row">
			<div class="col-sm-2">
				<img ng-src="{{ profile.profile.profile_picture || 'img/profile.png' }}" class="img-responsive" alt="Organization Profile Picture" />
			</div>
			<div class="col-sm-7">
				<p>
					<div class="fb-like" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
				</p>
				<p>Joined: {{profile.date_joined | date }}</p>
				<p ng-if="profile.organization.url">Website: <a href="{{profile.organization.url}}" target="_blank">{{profile.organization.url}}</a></p>
				<p ng-if="profile.organization.video_url"><a href="{{profile.organization.video_url}}" target="_blank">Watch Video</a></p>
			</div>
			<div class="col-sm-3">
				<button class="btn btn-minor btn-block mbot25" ng-click="contactUser()">Contact</button>
				


				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" ng-if="profile.profile.paypal_email">

				<!-- Saved buttons use the "secure click" command -->
				<input type="hidden" name="cmd" value="_donations">
				<input type="hidden" name="business" value="{{profile.profile.paypal_email}}">
				<input type="hidden" name="currency_code" value="USD">
				<input type="hidden" name="no_note" value="0">
				<input type="hidden" name="item_name" value="{{profile.organization.name}}">
				<input type="hidden" name="lc" value="US">
				<!-- Saved buttons are identified by their button IDs -->
				<button type="submit" class="btn btn-primary btn-block">Donate</button>


				</form>
							</div>
		</div>

		<hr class="mtop25 mbot25">

		<h2>About</h2>
		<p>{{profile.profile.bio}}</p>

		<hr class="mtop25 mbot25">
		<div class="text-center mbot25">
			<h1>One Fact</h1>
			<p>Brought to you by <a>{{profile.organization.name}}</a></p>
			<main id="one-fact">
				<p class="muted mtop25-xs">{{profile.organization.fact}}</p>
			</main>
		</div>
		<!-- <hr class="mtop25 mbot25">
		<h2>Things to Know</h2>
		<ul class="mbot25">
							<li><p>Investigationes demonstraverunt lectores legere me lius</p></li>
							<li><p>Investigationes demonstraverunt lectores legere me lius</p></li>
							<li><p>Investigationes demonstraverunt lectores legere me lius</p></li>
							<li><p>Investigationes demonstraverunt lectores legere me lius</p></li>
							<li><p>Investigationes demonstraverunt lectores legere me lius</p></li>
					</ul> -->
	</div>

	</div>