<div class="results pad15 title-block outline">
		<h1>Password Settings</h1>
		<!-- <p class="muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p> -->
		<form name="pwdChangeForm" role="form" ng-submit="changePassword(pwdChangeForm)">
			<div class="form-group">
				<label for="current-password">Current Password</label>
				<input type="password" name="current-password" class="form-control" required max="32" min="5" />
			</div>
			<div class="form-group">
				<label for="new-password">New Password</label>
				<input ng-model="model.new_password1" type="password" name="new-password" class="form-control" required/>
			</div>
			<div class="form-group">
				<label for="confirm-password">Confirm Password</label>
				<input ng-model="model.new_password2" type="password" name="confirm-password" class="form-control" required/>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 mbot25">
					<button type="submit" class="btn btn-block btn-primary">Save Settings</button>
				</div>
			</div>
<div ng-if="complete">
<div class="alert alert-success">Message Sent!</div>
</div>
		</form>
	</div>