<div class="container mtop25 pbot25">
		<div class="row">
			<div class="row">
				<div class="col-sm-9">
					<div class="results pad15 title-block outline">
						<h1>Payment Info</h1>
						<p class="muted">A PayPal account is required to receive payment for note sales.</p>
						<div class="row mtop50">
							<div class="col-sm-4 col-xs-6">
								<img src="img/paypal.png" alt="PayPal Logo" class="img-responsive">
							</div>
						</div>
						<form ng-submit="saveSettings(paypal_email)">
							<div class="form-group">
								<label for="paypal">PayPal Account</label>
								<input ng-model="paypal_email" type="text" name="paypal" class="form-control" />
								<div class="has-error-text" id="bio-error">Error</div>
								<p class="mtop25 mbot15"><a href="https://www.paypal.com/webapps/mpp/account-setup">Click here to create a PayPal Account</a></p>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3 mbot25">
									<button type="submit" class="btn btn-block btn-primary">Save Settings</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="row">
	<div class="col-md-12 col-sm-6 col-xs-12">
		<div class="results pad15 mbot25 mtop25-xs">
			<h3>Settings</h3>
			<hr>
			<p><a ui-sref="app.profile-settings">Profile Settings</a></p>
			<p><a ui-sref="app.password-settings">Passwords</a></p>
			<p><a ui-sref="app.payment-settings">Payment Info</a></p>
		</div>
	</div>
	<div class="col-md-12 col-sm-6 col-xs-12">
		<div class="results pad15 mbot25">
			<h3>Dashboard</h3>
			<hr>
			<p><a ui-sref="app.notes-purchased">Notes Purchased</a></p>
			<p><a ui-sref="app.notes-forsale">Notes for Sale</a></p>
			<p><a ui-sref="app.watch-list">Watch List</a></p>
			<p><a ui-sref="app.messages">Messages</a></p>
		</div>
	</div>
</div>				</div>
			</div>
		</div>
	</div>

	</div>