
<div class="container results mtop25 mbot25 outline" cg-busy="profileLoadPromise">
	<div class="row vertical-align normalize-xs">
		<div class="col-sm-2 col-xs-3 text-center mtop25-xs">
			<img class="img-responsive" ng-src="{{ userInfo.profile.profile_picture || 'img/profile.png' }}" alt="Profile Picture" />
			<span class="mtop15"><a href="javascript:void(0);" ng-click="report()">Report Violation</a></span>
		</div>
		<div class="col-sm-7 col-xs-9 mbot25-xs">
			<h1>{{userInfo.username}}</h1>
			<div class="fb-like" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
			<p>Attends: {{userInfo.profile.school.name}}</p>
			<p>Joined: {{userInfo.date_joined | date}}</p>
			<p>Sales: {{userInfo.sales_quantity}}</p>
			<p>Rating:
				<i ng-repeat=" i in [] | range:userInfo.profile.average_rating" class="fa fa-star"></i>
				<i ng-repeat=" i in [] | range:(5 - userInfo.profile.average_rating)" class="fa fa-star off"></i>
			</p>
		</div>
		<div class="clearfix visible-xs"></div>
		<div class="col-sm-3 col-xs-12">
			<a href="" class="btn btn-minor btn-block" ng-click="followUser()">Follow</a>
			<a href="" class="btn btn-primary btn-block" ng-click="contactUser(userInfo.username)">Contact</a>
		</div>
	</div>
	<div class="clearfix"></div>
	<hr class="mtop25">
	<h2>Bio</h2>
	<p>{{userInfo.profile.bio}}</p>
	<div class="clearfix"></div>
	<div class="clearfix"></div>
	<hr class="mtop25">
	<div class="row vertical-align mtop50 mbot25">
		<div class="col-sm-12 text-center">
			<p class="lead">
				<a href="javascript:void(0);" ng-click="tab='forsale'" aria-controls="posted" >Notes Posted: {{notesCount}}</a> |
				<a href="javascript:void(0);" ng-click="tab='comments'" aria-controls="comments">Comments: {{commentsCount}}</a>
			</p>
		</div>
	</div>
	<hr>
	<div class="tab-content" cg-busy="notesForSalePromise">
		<div ng-show="tab == 'forsale'"  >
			<h2>Notes Posted</h2>
			<main class="row vertical-align lined less-spacing" ng-repeat="note in notesForSale">
				<div class="col-sm-2 col-xs-0 hidden-xs text-center">
					<div class="row mtop5">
						<div class="col-sm-10 col-sm-offset-1">
							<a href="user-profile">
								<img ng-src="{{ userInfo.profile.profile_picture || 'img/profile.png' }}" class="img-responsive" alt="Profile Image" />
							</a>
						</div>
					</div>
					<p class="hidden-xs text-center mtop5">{{note.user.username}}</p>
				</div>
				<div class="col-sm-2 col-xs-0 hidden-xs">
					<p class="large muted hidden-xs text-center">{{note.price | currency}}</p>
				</div>
				<div class="col-sm-6 col-xs-8 mtop15 mbot5">
					<p class="lead"><a href="" id="{{note.id}}" ng-click="getNoteDetails($event)">{{note.title}}</a></p>
					<p class="visible-xs">{{note.price | currency}}</p>
					<p class="visible-xs">Provided by: {{note.user.username}}</p>
					<p>Date: {{note.year}}</p>
					<p>Course: {{note.course.name}} </p>
					<p>Instructor: {{note.instructor.name}}</p>
				</div>
				<div class="col-sm-2 col-xs-4 text-center">
					<a class="btn btn-primary btn-block" id="{{note.id}}" ng-click="getNoteDetails($event)">Details</a>
					<p class="muted mtop15"><i class="fa fa-heart-o"> For Charity</i></p>
				</div>
			</main>
			<footer class="row">
				<div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
				<pagination ng-model="page" total-items="notesCount" boundary-links="true" 
					first-text="&laquo;" previous-text="&lsaquo;" next-text="&rsaquo;"  last-text="&raquo;" 
					rotate="true" max-size="maxSize" ng-change="getNotesForSale(username,notesPage)">
				</pagination>
			</div>
		</footer>
	</div>
	<div ng-show="tab == 'comments'">
		<h2>Comments</h2>
			<div class="row mtop15 mbot15" ng-repeat="comment in comments" cg-busy="feedbackLoadPromise">
				<div class="col-sm-2 col-xs-3 text-center">
					<img ng-src="{{ comment.user.profile.profile_picture || 'img/profile.png' }}" class="img-responsive" alt="Profile Picture" />
					<a href="" id="{{comment.user.username}}" ng-click="getUserProfile($event)"class="thin">{{comment.user.username}}</a>
				</div>
				<div class="col-sm-10 col-xs-9">
				<p class="muted"><em>{{comment.created | date}}</em></p>
				<p>{{comment.content}}</p>
				</div>
			</div>
			<hr>
			<div class="clearfix"></div>
			<footer class="row">
			<div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
				<pagination ng-model="page" total-items="commentsCount" boundary-links="true" 
					first-text="&laquo;" previous-text="&lsaquo;" next-text="&rsaquo;"  last-text="&raquo;" 
					rotate="true" max-size="maxSize" ng-change="getUserComments(username,feedbackPage)">
				</pagination>
			</div>
		</footer>
	</div>
	</div>
</div>

</div>