<div class="container mtop25 pbot25">
  <div class="row">
    <div class="row">
      <div class="col-md-9">
        <div class="results pad15 outline">
          <section class="row vertical-align normalize-xs normalize-sm">
            <div class="col-md-6 col-xs-12 title-block">
              <h1>Watch List</h1>
              <!-- <p class="lead muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
            </div>
            <div class="col-xs-3 text-right mtop25-sm mbot25-sm">
              <p class="lead mbot0">{{itemCount}} Items</p>
            </div>
            <div class="col-md-3 col-xs-9 mtop25-sm mbot25-sm">
              <select ng-model="orderSelect" ng-change="getWatchlist(orderSelect,page)" class="form-control" ng-model="orderListValue">
                <option value="activity">Activity</option>
                <option value="dateAdded">Date Added</option>
              </select>
            </div>
          </section>
          <main class="row">
            <div class="col-xs-12">
              <div class="row vertical-align lined" ng-repeat="user in results">
                <div class="col-sm-2 col-xs-0 hidden-xs text-center">
                  <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                      <img src="img/profile.png" class="img-responsive" alt="Gricha2380 Profile Picture" />
                    </div>
                  </div>
                  <p><a id="{{user.username}}" href="" ng-click="getUserProfile($event)">{{user.username}}</a></p>
                </div>
                <div class="col-xs-7 mtop15 mbot5">
                  <p>Attends: {{user.school}}</p>
                  <p>Joined: {{user.dateJoined}}</p>
                  <p>Notes: {{user.notes}}</p>
                  <p>Rating:
                    <i ng-repeat=" i in [] | range:user.rating" class="fa fa-star"></i>
                    <i ng-repeat=" i in [] | range:(5 - user.rating)" class="fa fa-star off"></i>
                  </p>
                </div>
                <div class="col-sm-3 col-xs-5 text-center">
                  <button id="{{user.username}}" ng-click="removeFromWatchlist($event)" class="btn btn-minor btn-block">Remove</button>
                  <a id="{{user.username}}" href="" ng-click="getUserProfile($event)"class="btn btn-primary btn-block">View Profile</a>
                </div>
              </div>
            </div>
          </main>
          <footer class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
              <pagination ng-model="page" total-items="commentsCount" boundary-links="true" 
                first-text="&laquo;" previous-text="&lsaquo;" next-text="&rsaquo;"  last-text="&raquo;" 
                rotate="true" max-size="maxSize" ng-change="getWatchlist(user.username,page)">
              </pagination>
            </div>
          </footer>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 mtop25-sm mtop0-xs">
        <div class="row">
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="results pad15 mbot25 mtop25-xs">
              <h3>Settings</h3>
              <hr>
              <p><a ui-sref="app.profile-settings">Profile Settings</a></p>
              <p><a ui-sref="app.password-settings">Passwords</a></p>
              <p><a ui-sref="app.payment-settings">Payment Info</a></p>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="results pad15 mbot25">
              <h3>Dashboard</h3>
              <hr>
              <p><a ui-sref="app.notes-purchased">Notes Purchased</a></p>
              <p><a ui-sref="app.notes-forsale">Notes for Sale</a></p>
              <p><a ui-sref="app.watch-list">Watch List</a></p>
              <p><a ui-sref="app.messages">Messages</a></p>
            </div>
          </div>
        </div>        </div>
      </div>
    </div>
  </div>

</div>