<div class="container mtop25 pbot25">
  <div class="row">
    <div class="row">
      <div class="col-md-9">
        <div class="results pad15 outline">
          <section class="row vertical-align normalize-xs normalize-sm">
            <div class="col-md-6 col-xs-12 title-block">
              <h1>Watch List</h1>
              <!-- <p class="lead muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
            </div>
            <div class="col-xs-3 text-right mtop25-sm mbot25-sm">
              <p class="lead mbot0">{{watchlistCount}} Items</p>
            </div>
            <div class="col-md-3 col-xs-9 mtop25-sm mbot25-sm">
              <select ng-model="order" ng-change="getWatchlist(order,page)" class="form-control" ng-model="orderListValue">
                <option value="activity">Activity</option>
                <option value="dateAdded">Date Added</option>
              </select>
            </div>
          </section>
          <main class="row">
            <div class="col-xs-12">
              <div ng-if="watchlistCount == 0" class="row vertical-align lined noresults">
                <p>No Results Found</p>
              </div>
              <div ng-show="watchlistCount > 0" class="row vertical-align lined" ng-repeat="user in results">
                <div class="col-sm-2 col-xs-0 hidden-xs text-center">
                  <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                      <img ng-src="img/profile.png" class="img-responsive" alt="Profile Picture" />
                    </div>
                  </div>
                  <p><a id="{{user.user_watched.username}}" href="" ng-click="getUserProfile($event)">{{user.user_watched.username}}</a></p>
                </div>
                <div class="col-xs-7 mtop15 mbot5">
                  <p>Attends: {{user.user_watched.profile.school.name}}</p>
                  <p>Joined: {{user.user_watched.date_joined | date}}</p>
                  <p>Notes: {{user.user_watched.sales_quantity}}</p>
                  <p>Rating:
                    <i ng-repeat=" i in [] | range:user.user_watched.profile.rating" class="fa fa-star"></i>
                    <i ng-repeat=" i in [] | range:(5 - user.user_watched.profile.rating)" class="fa fa-star off"></i>
                  </p>
                </div>
                <div class="col-sm-3 col-xs-5 text-center">
                  <button id="{{user.user_watched.username}}" ng-click="removeFromWatchlist($event)" class="btn btn-minor btn-block">Remove</button>
                  <a id="{{user.user_watched.username}}" href="" ng-click="getUserProfile($event)"class="btn btn-primary btn-block">View Profile</a>
                </div>
              </div>
            </div>
          </main>
          <footer class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
              <pagination ng-show="watchlistCount > maxSize"ng-model="page" total-items="watchlistCount" boundary-links="true" 
                first-text="&laquo;" previous-text="&lsaquo;" next-text="&rsaquo;"  last-text="&raquo;" 
                rotate="true" max-size="maxSize" ng-change="getWatchlist(user.username,page)">
              </pagination>
            </div>
          </footer>
          <div class="clearfix"></div>
        </div>
      </div>
      </div>
    </div>
  </div>