<div class="container results mtop25 mbot25 outline">
    <h1 class="mbot50">About NoteBooster</h1>
    <p>
        NoteBooster.com is an online student-to-student marketplace. We provide an opportunity for students to support purpose-driven organizations through the buying and selling of their own class notes. We donate between 24% and 100% of each notes sale is donated to our partnering organizations, with the note seller keeping the remainder.
    </p>
    <p class="mbot50">
      We recognize the opportunity NoteBooster has to represent something much bigger than ourselves. For that reason, we consider ourselves to be a social venture and we measure our success through impact, not profit.
    </p>
    <h2>Our Mission</h2>
    <p class="mbot50">
        To empower and fund student organizations.
    </p>
    <h2>Our Vision</h2>
    <p class="mbot50">
        To serve as a fundraising tool for student organizations to realize their full potential to transform communities, locally and globally.
    </p>
    <h2>Core Values</h2>
    <ul class="mbot50">
        <li>
            <p><strong>Bigger than ourselves</strong></p>
            <p>We recognize the opportunity NoteBooster has to represent something much bigger than ourselves. For that reason, NoteBooster is a social venture committed to measuring our success through impact, not profit.</p>
        </li>
            <li>
            <p><strong>Simplicity</strong></p>
            <p>We're the first to admit, there's some pretty great competitors out there. However, to do our partnering organizations the justice they deserve, our guarantee is to provide the simplest possible market place for our note buyers and sellers.</p>
        </li>
    </ul>

    <h2>Brand Promise</h2>
    <ul class="mbot50">
        <li>
            <p><strong>To Live the Gift</strong></p>
            <p>We believe that this whole life thing, it's a gift. To live the gift, means that you recognize the importance of making the most of every opportunity you're entrusted. It means you leave everything you have in everything you do. We work exclusively with student organizations who are fully committed to living the gift.
            </p>
        </li>
    </ul>

    <!-- <h2>How Does it Work?</h2>
    <p class="mbot50">
        NoteBooster.com is a student-to-student marketplace for class notes, built to simultaneously enhance the educational process & purpose driven student organizations. This service is far from new, in fact it exists at hundreds of campuses across the country. What is new is that 24-100% of each transaction goes directly to the purpose driven organizations on your campus.
    </p> -->
    <hr class="mtop25 mbot25">
    <div class="row vertical-align normalize-xs mbot25">
        <div class="col-sm-8 col-xs-12">
            <h1 class="mbot25">Partnerships</h1>
            <p class="lead">Who We Play For FSU</p>
            <p>Who We Play For is a movement to protect the hearts of our youth by providing affordable heart screenings. Every single dollar we raise through NoteBooster goes towards providing student athletes, who otherwise couldn't afford it, with the opportunity to get their heart checked. Please consider joining our fight against the leading cause of death in student athletes, sudden cardiac arrest. </p>
            <p><a ng-href="#/organization/whoweplayfor">View Profile</a><br>
            <a href="http://www.whoweplayfor.org/" target="_blank">Visit Website</a>
        </div>
        <div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <img src="/img/wwpf.jpg" class="img-responsive" alt="" height="300" width="500" />
        </div>
    </div>
</div>
