
    <div class="container results mtop25 mbot25 outline" ng-if="complete == false" cg-busy="confirmResetPromise">
        <div class="row mtop25 mbot25" ng-if="authenticated != true">
            <div ng-if="complete == false">
                <form role="form" ng-if="authenticated != true" ng-submit="confirmReset(confirmResetForm)" name="confirmResetForm" novalidate>
                <div class="col-xs-10 col-xs-offset-1 text-center">
                    <h1>Forgot Password</h1>
                    <p>Type your new password below.</p>
                    <hr class="mtop25 mbot25">
                </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 form-group">
                        <label for="id_password1">New Password</label>
                        <input name="password1" id="id_password1" type="password" ng-model="model.new_password1" placeholder="New Password" class="form-control" required />
                    <div class="error-msg ng-binding ng-scope" ng-repeat="error in errors.password1">{{error}}</div>
                    </div>
                   
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 form-group">
                        <label for="id_password2">Repeat Password</label>
                        <input name="password2" id="id_password2" type="password" ng-model="model.new_password2" placeholder="Repeat Password" class="form-control" required />
                         <div class="error-msg ng-binding ng-scope" ng-repeat="error in errors.password2">{{error}}</div>
                    </div>
                   
                    <div class="clearfix"></div>
                        <div class="col-sm-3 col-sm-offset-3 col-xs-8 col-xs-offset-2 mtop25 mbot25">
                    <a ui-sref="app" class="btn btn-minor btn-block">Cancel</a>
                </div>
                    <div class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 mtop25 mbot25 mtop0-xs">
                   <button type="submit" ng-hide="authenticated" class="btn btn-primary btn-block">Reset Password</button>
                     </div>
                </form>
                <p ng-if="authenticated">You are already logged in!  You don't need to reset your password.</p>
            </div>
            <div ng-if="complete == true">
                <div class="alert alert-success">You have changed your password.</div>
            </div>

    

        </div>
    </div>



    <div class="container results mtop25 mbot25 outline"  ng-if="complete == true">
        <div class="row mtop25 mbot25">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <h1>You have changed your password!</h1>
                <p>Click <a href="javascript:void(0)" ng-click="signinModal()">here</a> to login.</p>
                <hr class="mtop25 mbot25">
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 mtop25 mbot25">
                <a ui-sref="app" class="btn btn-primary btn-block">Home</a>
            </div>
        </div>
    </div>