<div class="container results mtop25 pbot25 mbot25 outline">
		<h1>Legal</h1>
		<p>NoteBooster.com <a href="" ng-click="scrollTo('terms')">Terms of Usage</a> and <a href="" ng-click="scrollTo('privacy-policy')">Privacy Policy</a> <br>Last modified on 4/10/2015.</p>
		<h2 id="terms">NoteBooster.com Terms of Usage</h2>
		<p>
			NoteBooster.com (referred to as the Site) is owned and operated by NoteBooster LLC (referred to as NoteBooster or we or us). In using this website you are deemed to have read and agreed to the following Terms of Usage:
		</p>
		<p class="mtop25"><strong>NoteBooster's Role</strong></p>

		<p>
			The Site is an online facility that allows you to view, buy, and sell Products.
			Ownership of Products remains with the Seller. NoteBooster does not obtain any right of ownership or use (including any intellectual property rights) in respect to the Products.
			NoteBooster takes reasonable means to safeguard Members but does not have any control over, and does not take any responsibility for, the quality, safety or legality of any Products downloaded by you from the Site.
		</p>

		<p>
			NoteBooster does not warrant that the Products or any content, code, data or materials downloaded from the Site does not infringe the intellectual property rights of a third party. In agreement with theses Terms of Usage each Seller is required to warrant that its Product does not infringe the intellectual property rights of any third party.
		</p>

		<p class="mtop25">
			<strong>
				Membership
			</strong>
		</p>
		<p>
			You are not required to be a registered member of the Site to access the Site or use the content or services. However, access to some areas of the Site and some content and services may also be restricted to members only. On becoming a member, you will be required to agree to our Privacy Policy.
		</p>
		<p>
			You do not have an automatic entitlement to Membership and NoteBooster may, at its sole discretion, elect to:
		</p>
		<ul>
			<li><p>refuse your application to become a Member; or</p></li>
			<li><p>once Membership is granted, suspend, terminate or restrict your Membership at any time.</p></li>
		</ul>
		<p>
			NoteBooster is not obliged to give reasons for its decision to reject your application or suspend, terminate or restrict your Membership at any time.
		</p>
		<p>
			Your Membership is non transferable. Once Membership is granted you will only be able to access all areas of the Site with use of the username and password you set up at the time you become a Member. Use of your username and password is conclusive evidence that you have accessed the Membership sections of the Site. You must use all reasonable efforts to keep your username and password confidential. You must not allow any third party to access the Site using your username and password and make use of the Site on your behalf. You are responsible for each and every access or use of the Site that occurs in conjunction with use of your username and password.
		</p>
		<p>
			You must notify NoteBooster as soon as you become aware of any unauthorized use of your Member Account, username or password. You acknowledge and agree that you are liable for, and will indemnify NoteBooster, its related bodies corporate, affiliates, officers, directors, agents and employees against, any and all claims made by a third party arising out of your access to, and use of, the Site as a Member.
		</p>
		<p class="mtop25">
			<strong>
				Availability and Use of the Site
			</strong>
		</p>
		<p>
			The Site will usually be available 24 hours a day, seven days a week or as otherwise stated on the Site. NoteBooster may, in its absolute discretion, and for any reason, and at any time, with or without notice interrupt or suspend your right to access the whole or any part of the Site and/or alter, interrupt or suspend the provision of the whole or any part of the content and/or the services available on the Site. You agree that NoteBooster will not be liable to you for any loss that you may suffer as a result of any such interruption, suspension or alteration.
		</p>

		<p>
			When accessing the Site and using the content and/or the services available on the Site, you must also comply with any directions, instructions or protocols posted to your attention on the Site.
		</p>


		<p class="mtop25">
			<strong>
				Fees and Services
			</strong>
		</p>

	<p>
		Membership on the Site is free. You do not have to pay a fee to become a Member. Eligibility for becoming a Seller is free. You do not have to pay a fee to sell Products on the Site.
	</p>

	<p>
		If you are a Buyer of a paid Product, you will pay a fee to buy the right to use that Product. The cost of the product will be clearly posted on every page where the Product is listed prior to purchase.
	</p>

	<p>
		If you are a Seller, you will receive the fee collected for each sale of your Products to a Buyer, less the commission to which NoteBooster is entitled. All payments by Buyers on the Site must be paid through a Payment Agent.
	</p>

	<p>
		You are responsible for paying all fees and taxes (including withholding tax), associated with your use of the Site wherever levied (including any goods and services or value added taxes, which will be added to amounts billed to you, if applicable).
	</p>

	<p>
		The Buyer is responsible for all costs of currency conversion from his or her preferred currency to the US Dollar at time of purchase at no cost to the Buyer.
	</p>

	<p>
		Where a payment is made by NoteBooster to a Seller, the Seller is responsible for all costs of converting the amount of the payment from US currency into his or her preferred currency.
	</p>

	<p>
		Downloading Site Content for commercial use is prohibited;
	</p>

	<p class="mtop25">
		<strong>
			Membership Information
		</strong>
	</p>
	<p>
		In the course of your application for Membership and your use of the Site, you may be asked to provide certain personal information to us (Member Information) including but not limited to email address. You promise that the Member Information you provide is true, accurate and complete. Any Member Information that you disclose may be used by NoteBooster, its agents and contractors in relation to the provision of services accessible on the Site, including marketing activities in relation to the Site. NoteBooster's information collection and use policies with respect to the privacy of such Member Information are set out in the Site's Privacy Policy.
	</p>

	<p class="mtop25">
		<strong>
			Payments
		</strong>
	</p>
	<p>
		Sellers who create paid notes and generate sales for those notes will receive payment from us. Payment occurs within 7 days of the transaction's completion. Payment for each sale is processed in batch through a Payment Agent into the account of the recipient Sellers. Payment total will equal the fee collected for the each sale of your Products to a Buyer during the transaction less the commission to which NoteBooster is entitled and less the percentage designated for donation.
	</p>

	<p>
		NoteBooster is not a licensed financial service provider, nor does it conduct the business of banking. NoteBooster enlists the service of a third party Payment Agent. NoteBooster provides its services as a cashier using a payment processing service rather than a banking service. NoteBooster is not providing a financial product or service and nor is it acting as a fiduciary or an escrow with respect to your funds.
	</p>

	<p class="mtop25">
		<strong>
			Proprietary Rights
		</strong>
	</p>

	<p>
		Your use of the Site does not grant to you any ownership or interest in any content, code, data or materials you may access on or through the Site or any intellectual property rights subsisting any content, code, data or materials you may access on or through the Site.
	</p>

	<p>
		You may download a single copy of any content contained on the Site, solely for your personal, non-commercial use, consistent with these terms of use, provided that you maintain the copyright and other notices contained in that content. This excludes products available for sale/licensing on the Site.
	</p>

	<p>
		If you make other use of the Site, or the Products, content, code, data or materials on the Site or available through the Site, except as otherwise provided above, you will violate copyright and other laws of the United States of America, other countries, as well as applicable state laws and may be subject to liability for such unauthorized use.
	</p>

	<p class="mtop25">
		<strong>
			Purchases
		</strong>
	</p>
	<p>
		If you buy a Product on the Site, you do so on the following terms:<br>
		you cannot cancel an order for a Product once the order has been submitted;
		NoteBooster does not provide any guarantee for the continued availability of Products offered for sale on the Site. Once your order for a Product is accepted, and you pay any applicable fee, you acquire a non exclusive, non transferable license to use the Product; ownership of the Product remains with the Seller; the Product may not be re-sold by the Buyer; and payment of the fee will be made at the time of download by deduction from a Payment Agent.
	</p>

	<p class="mtop25">
		<strong>
			Returns
		</strong>
	</p>
	<p>
		All sales on NoteBooster are final, with the exception of Payment errors such as duplicate payments*. No returns or refunds will be provided for purchases on the Site. We advise buyers to utilize note previews, ratings, and the internal messaging system to satisfy questions about the content prior to purchase.
		If a refund is processed for technical malfunctions involving duplicate payments, any product feedback and access will be revoked. <br>
		*NoteBooster will evaluate refund requests that do not match the terms of service criteria for refund on a case-by-case basis, without the promise or guarantee that a refund will be issued. NoteBooster reserves the right to refuse refunds for reasons which do not match our terms of service criteria.
	</p>

	<p class="mtop25">
		<strong>
			Selling Products
		</strong>
	</p>
	<p>
		By uploading notes and agreeing to these Terms of Usage you warrant to NoteBooster and each Buyer that, as a Seller, in relation to each Product that you offer for sale or access on the Site:
	</p>

	<ul>
		<li>
			<p>
				that Product does not infringe the intellectual property rights of a third party;
			</p>
		</li>
		<li>
			<p>
				that Product is not fraudulent, stolen or an unlawful item;
			</p>
		</li>
		<li>
			<p>
				you own the intellectual property rights in that Product;
			</p>
		</li>
		<li>
			<p>
				that Product is not false, inaccurate or misleading;
			</p>
		</li>
		<li>
			<p>
				that Product does not violate any applicable law, statute, ordinance or regulation (including but not limited to, those governing export control, consumer protection, unfair competition, criminal law, anti-discrimination or trade practices or fair trading laws);
			</p>
		</li>
		<li>
			<p>
				that Product is not defamatory, unlawfully threatening or unlawfully harassing;
			</p>
		</li>
		<li>
			<p>
				that Product is not obscene and does not contain child pornography and does not constitute or contain material that is adult in nature or harmful to person under the age of 18 years;
			</p>
		</li>
		<li>
			<p>
				that Product does not contain viruses or other computer codes, files or programs which are designed to limit or destroy the functionality of other computer software or hardware;
			</p>
		</li>
		<li>
			<p>
				that Product would not create liability for NoteBooster or cause us to lose (in whole or in part) the services of its ISP or other suppliers; and
			</p>
		</li>
		<li>
			<p>
				that Product would not cause NoteBooster to violate any applicable law, statute, ordinance or regulation by making it available on the Site.
			</p>
		</li>
	</ul>

	<p>
		As a Seller, you must:
	</p>

	<p>
		notify us of any information which may affect or assist in sales of your Product(s); act in good faith at all times and provide such assistance and co-operation as we reasonably request; and to the extent practicable, maintain registrations of all relevant intellectual property rights and of all names relating in any way to your Products.
		You acknowledge and agree that any Product offered for sale by you on Site must first be submitted to NoteBooster to enable it to check the quality of the Product and the information provided with the Product.
	</p>

	<p>
		NoteBooster may refuse, in its sole discretion, to allow you to offer the Product for sale on a Site. NoteBooster is not required to give reasons for refusing to allow you to offer a Product for sale on the Site.
		 You acknowledge and agree that If NoteBooster determines, in its absolute discretion, or is notified by a third party, that a Product that you offer for sale on a Site does not comply with any applicable laws and/or these Terms of Usage, NoteBooster will disable your Member Account and withhold all amounts that you may have earned from the sale of the relevant Products during the effected time periods until:
	</p>

	<ul>
		<li>
		 	<p>
		 		any dispute in relation to the Product has been resolved to the satisfaction of NoteBooster; and
		 	</p>
		</li>
		<li>
			<p>
				the expiry of one year from the date your Member Account and Member Ledger is disabled.
			</p>
		</li>
	</ul>

	<p>
		If the dispute has not been resolved after one year, NoteBooster will pay amounts standing to your credit in your Member account to you via PayPal.
	</p>

	<p>
		You acknowledge and agreed that NoteBooster will, in its sole discretion, determine the fee payable for each Product on the Site.
	</p>

	<p>
		Products on Site are continuously reviewed to ensure the library remains coherent with NoteBooster's latest quality and technical standards, currency of software and market trends.
	</p>

	<p>
		You acknowledge and agree that NoteBooster may, at its sole discretion, elect at any time and for any reason to remove your Products from the Site without notice to you. NoteBooster is not responsible for any loss that you may suffer as a result a Product being removed from any of the Site.
	</p>

	<p>
		NoteBooster is not liable for any loss suffered by you as a result of a Buyer making use of a Product that you offer for sale on a Site contrary to the conditions on which the Product was sold to the Buyer.
	</p>

	<p>
		As a Seller you are free to sell the Product on other web sites or through other outlets as you see fit.
	</p>

	<p>
		You agree and acknowledge that NoteBooster may use the whole or any part of a Product which you offer for sale on NoteBooster.com to promote the Site. This promotional use may include use on a features page on a Site itself. No compensation is due or payable for such uses of your Product.
	</p>

	<p>
		You agree and acknowledge that NoteBooster can use you a shortened preview of your Product in their promotion of that Product, without violating your copyright and without providing monetary compensation to you.
	</p>

	<p class="mtop25">
		<strong>
			Note Expiry
		</strong>
	</p>

	<p>
		NoteBooster reserves the right to retire Products and remove all Product fees at the expiry of five years from the date of the Product's first availability. NoteBooster may then elect to provide Products at no cost to Members.
	</p>

	<p class="mtop25">
		<strong>
			Copyright and Intellectual Property Protection
		</strong>
	</p>
	<p>
		We respect and honor intellectual property rights. We require that those people who use the Site, or the services or features made available on or through the Site, do the same. We provide feedback links throughout the Desktop and Mobile website to facilitate communication of potential infringement. If you are a copyright owner or an agent thereof, and you believe that any content hosted on our web site (www.notebooster.com) infringes your copyrights, then you may submit a notification pursuant to the DMCA by providing Notebooster's Designated Copyright Agent (copyright@NoteBooster.com) with the following information in writing or via email(please consult your legal counsel or see 17 U.S.C. Section 512(c)(3) to confirm these requirements):
	</p>

	<ol>
		<li>
			<p>
				A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
			</p>
		</li>
		<li>
			<p>
				Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works on the NoteBooster web site are covered by a single notification, a representative list of such works at that site.
			</p>
		</li>
		<li>
			<p>
				Identification of the material that is claimed to be infringing or to be the subject of infringing activity that is to be removed or access to which is to be disabled. Include a direct link (URL) to each and every claim of infringement. We cannot action nonspecific claims based on keywords, search queries, title, name, or resemblance (physical or otherwise) to another document.
			</p>
		</li>
		<li>
			<p>
				Information reasonably sufficient to permit NoteBooster to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.
			</p>
		</li>
		<li>
			<p>
				A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.
			</p>
		</li>
		<li>
			<p>
				A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
			</p>
		</li>
	</ol>

	<p>
		<strong>
			Please note that under Section 512(f) of the DMCA, any person who knowingly materially misrepresents that material or activity is infringing may be subject to liability.
		</strong>
	</p>

	<p>
		NoteBooster reserves the right to send copies of false, misleading, or malicious takedown notices to the Chilling Effects Clearinghouse and other DMCA watchdog groups for publication.
	</p>

	<p>
		<a href="/dmcatemplate.html">Click here for a legally valid DMCA takedown request template</a>
	</p>

	<p>
		Send the written communication to the following address:
	</p>
	<p>
		NoteBooster, LLC.<br>
		Attn: NoteBooster DMCA copyright infringement notification<br>
		PO Box 20845<br>
		Tallahassee, Florida 32316<br>
		United States<br>
	</p>
	<p>
		or email to:<br>
		copyright@notebooster.com<br>
		Subject: NoteBooster DMCA copyright infringement notification
	</p>

	<p>
		Following privacy measures, NoteBooster reserves the right to not furnish copies of the infringed content unless otherwise required by law.
	</p>

	<p class="mtop25">
		<strong>
			Trade Marks
		</strong>
	</p>
	<p>
		The trade marks, logos, service marks and trade names (collectively the Trade Marks) displayed on the Site, or on content available through the Site, are registered and unregistered Trade Marks of NoteBooster and others.
	</p>
	<p>
		Nothing contained on the Site should be construed as granting expressly or by implication any license or right to use any Trademark displayed on the Site without the written permission of NoteBooster or the third party that may own the applicable Trademark.
	</p>

	<p class="mtop25">
		<strong>
			Free Puppy Voucher
		</strong>
	</p>
	<p>
		To encourage Members to completely read through our Terms of Usage, any registered Member who sends a self addressed stamped envelope to our PO Box will receive from us a Free Puppy Voucher for a fictitious, imaginary puppy. The Puppy Voucher will include an image of a puppy that has been described by its owner as being "the cutes little puppy wuppy in the whole wide world." The Free Puppy Voucher can not be exchanged for a real puppy. The Free Puppy Voucher has no cash value nor can it be redeemed for cash.
	</p>

	<p class="mtop25">
		<strong>
			User Information
		</strong>
	</p>
	<p>
		In the course of your use of the Site and/or the content or services made available on, or through, the Site, you may be asked to provide certain personalized information to us (User Information). NoteBooster's information collection and use policies with respect to the privacy of such User Information are set out in the Privacy Policy.
	</p>
	<p>
		You are solely responsible for the accuracy and content of User Information.
	</p>

	<p class="mtop25">
		<strong>
			Linking to the Site
		</strong>
	</p>
	<p>
		You agree that if you include a link from any other web site to the Site, such link must link to the full version of an HTML formatted page of the Site or an NBST.CO  short link provided to you in your Notes for Sale control panel.
	</p>
	<p>
		You are not permitted to link directly to any image hosted on the Site or our services, such as using an "in-line" linking method to cause the image hosted by us to be displayed on another web site.
	</p>
	<p>
		You agree not to download or use images hosted on the Site on another web site, for any purpose, including, without limitation, posting such images on another web site.
	</p>
	<p>
		You agree not to link from any other web site to the Site in any manner such that the Site, or any page of the Site, is "framed," surrounded or obfuscated by any third party content, materials or branding. We reserve our right to insist that any link to the Site be discontinued, and to revoke your right to link to the Site from any other web site at any time upon written notice to you.
	</p>

	<p class="mtop25">
		<strong>
			Third Party Sites
		</strong>
	</p>
	<p>
		You may be presented with links that lead from the Site to third party web sites. You acknowledge and agree that we have no responsibility for the information, content, products, services, advertising, code or other materials which may or may not be provided by or through Linked Sites, even if they are owned or run by affiliates of ours.
	</p>

	<p>
		The inclusion of any link to such web sites on our Site does not imply NoteBooster's endorsement, sponsorship, or recommendation of that web site.
	</p>
	<p>
		NoteBooster disclaims any liability for links to another web site.
	</p>

	<p class="mtop25">
		<strong>
			Applicable Laws
		</strong>
	</p>
	<p>
		We control and operate the Site from our offices in Tallahassee, Florida in accordance with the laws of Florida. We do not represent that materials on the Site are appropriate or available for use in other locations. Persons who choose to access the Site from other locations do so on their own initiative, and are responsible for compliance with local laws, if and to the extent local laws are applicable.
	</p>

	<p>
		<strong>
			Prohibited Actions
		</strong>
	</p>
	<p>
		You warrant that while using the Site and the various services and features offered on or through the Site, you will not:
	</p>
	<ul>
		<li>
			<p>use a false email address or impersonate any person or entity or misrepresent your affiliation with any other person or entity;</p>
		</li>
		<li>
			<p>insert your own or a third party's advertising, branding or other promotional content into any of the Site's content, materials or services or use, redistribute, republish or exploit such content or service for any further commercial or promotional purposes; or</p>
		</li>
		<li>
			<p>attempt to gain unauthorized access to other computer systems through the Site.</p>
		</li>
	</ul>

	<p>
		You must not:
	</p>
	<ul>
		<li>
			<p>
				use the Site, content or services offered on the Site for any purpose or activity of an illegal, fraudulent, obscene, offensive, personally offensive or defamatory nature;
			</p>
		</li>
		<li>
			<p>
				take any action which may interfere with, disrupt, manipulate, tamper with or otherwise abuse the Site or networks connected to the Site;
			</p>
		</li>
		<li>
			<p>
				use the Site or the Site's services or features in violation of NoteBooster's or any third party's intellectual property or other proprietary or legal rights; or
			</p>
		</li>
		<li>
			<p>
				use the Site or the Site's services in violation of any applicable law.
			</p>
		</li>
		<li>
			<p>
				engage in "spidering", "screen scraping," "database scraping," harvesting of e-mail addresses, wireless addresses or other contact or personal information, or any other automatic means of obtaining lists of users or other information from or through the Site or the services offered on or through the Site, including without limitation any information residing on any server or database connected to the Site or the services offered on or through the Site;
			</p>
		</li>
		<li>
			<p>
				obtain or attempt to obtain unauthorized access to computer systems, materials or information through the Site by any means;
			</p>
		</li>
		<li>
			<p>
				use the Site or the services made available on or through the Site in any manner with the intent to interrupt, damage, disable, overburden, or impair the Site or such services, including, without limitation, sending mass unsolicited messages or "flooding" servers with requests;
			</p>
		</li>
		<li>
			<p>
				use the Site to distribute or make available any Product whose primary purpose is to facilitate the distribution of Products outside of the Site;
			</p>
		</li>
		<li>
			<p>
				use any mechanism, device software or script to affect the proper functioning of the Site including taking any action which may infect the Site with any routine, including (but not limited to) any virus, time bomb, trojan horse, worm, cancelbot or other computer routine that may damage, interfere with, delay, intercept or expropriate any system, data or personal information;
			</p>
		</li>
	</ul>

	<p>
		You further agree that you must not attempt (or encourage or support anyone else's attempt) to circumvent, reverse engineer, decrypt, or otherwise alter or interfere with the Site or the Site's services, or any content of the Site or any of its domains, or make any unauthorized use of the Site or the Site's services or any content of the Site or any of the domains of the Site.
	</p>
	<p>
		Any commercial or promotional publishing, distribution or exploitation of the Site, or any content, code, data or materials on the Site, is strictly prohibited unless you have received the express prior written permission from NoteBooster.
	</p>
	<p>
		Other than as expressly allowed in these Terms of Usage, and unless otherwise indicated in these Terms of Usage, you may not download, post, display, publish, copy, reproduce, distribute, transmit, modify, perform, broadcast, transfer, create derivative works from, resell or otherwise exploit any content, data, code or materials on or made available through the Site.
	</p>
	<p>
		You agree that you must not use the Site in any manner that could damage, disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the Site or any of its services. You must not obtain or attempt to obtain any materials or information through any means not intentionally made publicly available or provided for through the Site. NoteBooster reserves the right, in its absolute discretion, to determine whether or not your use of the Site or content or services available on the Site complies with these Terms of Usage.
	</p>

	<p class="mtop25">
		<strong>
			Disclaimer
		</strong>
	</p>
	<p>
		NoteBooster does not exclude any Non-excludable Rights but does exclude all other conditions and warranties implied by custom, law or statute except as provided for by the Non-excludable Rights:
	</p>
	<p>
		a. all content and services on the Site is provided "as is" and without warranties of any kind, either express or implied;
	</p>
	<p>
		b. NoteBooster and its suppliers expressly disclaim all warranties of any kind, including but not limited to implied warranties of merchantability and fitness for a particular purpose;
	</p>
	<p>
		c. NoteBooster does not warrant that the functions contained in any content or your access to the Site will be uninterrupted or error-free, that any defects will be corrected or that the Site or the server which stores and transmits content to you are free of viruses or any other harmful components; and
		NoteBooster does not warrant or make any representation regarding your access to, or the results of your access to, the Site (including any related or linked web sites) or any content in terms of correctness, accuracy, timeliness, completeness, reliability or otherwise.
	</p>

	<p>
		Under no circumstances (including but not limited to any act or omission on the part of NoteBooster) will NoteBooster or its affiliates be liable for any indirect, incidental, special and/or consequential damages or loss of profits whatsoever which result from any use or access of, or any inability to use or access, the Site or the content.
	</p>

	<p>
		To the fullest extent permitted by law, NoteBooster's liability for breach of any implied warranty or condition which cannot be excluded is limited at the option of NoteBooster to the following:
	</p>

	<p>
		a. in the case of services supplied or offered by NoteBooster:
	</p>
	<p>
		i. the supply of the services again;
	</p>
	<p>
		ii. the payment of the cost of having services supplied again; and
	</p>
	<p>
		b. in the case of goods supplied or offered by us:
	</p>
	<p>
		i. the replacement of the goods or the supply of equivalent goods; or
	</p>
	<p>
		ii. the payment of the cost of replacing the goods or acquiring equivalent goods.
	</p>

	<p class="mtop25">
		<strong>
			Indemnity
		</strong>
	</p>
	<p>
		You agree to indemnify, defend, and hold NoteBooster harmless from all claims, causes of action, allegations, costs, expenses, fees (including reasonable attorneys' fees), judgments, liabilities, losses and damages arising from or relating to your use of or operation of NoteBooster websites.
	</p>

	<p class="mtop25">
		<strong>
			Changes to Terms of and Conditions
		</strong>
	<p>
		NoteBooster may, at its sole discretion, revise or change these Terms of Usage (in whole or in part) from time to time and at any time without notice to you.
	</p>

	<p>
		Changes in the Terms of Usage will be effective when posted by us on the Site. Your continued use of the Site and/or the services made available on or through the Site after any changes to the Terms of Usage are posted will be considered acceptance of those changes.
	</p>

	<p>This policy was last modified on 4/10/2015.</p>



		<!-- End Terms of Usage -->
		<hr class="mtop25 mbot15">
		<!-- Begin Privacy Policy -->

		<h2 id="privacy-policy">NoteBooster.com Privacy Policy</h2>

		<p class="mtop25">
			<strong>What information do we collect?</strong>
		</p>

		<p class="mbot25">
			We collect information from you when you register on our site or place an order. When ordering or registering on our site, as appropriate, you may be asked to enter your e-mail address. You may, however, visit our site anonymously.
		</p>

		<p>
			<strong>What do we use your information for?</strong>
		</p>

		<p>
			Any of the information we collect from you may be used in one of the following ways:
		</p>
		<ul>
			<li>
				<p>To personalize your experience (your information helps us to better respond to your individual needs)</p>
			</li>
			<li>
				<p>
					To improve our website (we continually strive to improve our website offerings based on the information and feedback we receive from you)
				</p>
			</li>
			<li>
				<p>
					To process transactions. Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.
				</p>
			</li>
			<li>
				<p>
					To send periodic emails. The email address you provide for order processing, may be used to send you information and updates pertaining to your order, in addition to receiving occasional company news, updates, related product or service information, etc.
				</p>
			</li>
		</ul>

		<p class="mtop25">
			<strong>How do we protect your information?</strong>
		</p>
		<p>
			We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.
		</p>
		<p>
			We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to? keep the information confidential.
		</p>
		<p>
			After a transaction, your private information (credit cards, social security numbers, financials, etc.) will not be stored on our servers.
		</p>


		<p class="mtop25"><strong>Do we use cookies?</strong></p>

		<p>
			Yes. Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information. We use cookies to understand and save your preferences for future visits. If you prefer, you can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies via your browser settings. Like most websites, if you turn your cookies off, some of our services may not function properly. However, you can still place orders by contacting customer service.
		</p>

		<p class="mtop25">
			<strong>
				Do we disclose any information to outside parties?
			</strong>
		</p>

		<p>
			We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
		</p>

		<p class="mtop25">
			<strong>
				California Online Privacy Protection Act Compliance
			</strong>
		</p>
		<p>
			Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.
		</p>
		<p>
			As part of the California Online Privacy Protection Act, all users of our site may make any changes to their information at anytime by logging into their control panel and going to the 'Settings' page.
		</p>


		<p class="mtop25">
			<strong>
				Children's Online Privacy Protection Act Compliance
			</strong>
		</p>
		<p>
			We are in compliance with the requirements of COPPA (Children's Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.
		</p>


		<p class="mtop25">
			<strong>
				Online Privacy Policy Only
			</strong>
		</p>
		<p>
			This online privacy policy applies only to information collected through our website and not to information collected offline.
		</p>

		<p class="mtop25">
			<strong>
				Your Consent
			</strong>
		</p>
		<p>
			By using our site, you consent to our web site privacy policy.
		</p>

		<p class="mtop25">
			<strong>
				Contact Us
			</strong>
		</p>
		<p>
			If there are any questions regarding this privacy policy you may contact us using the information below.
		</p>

		<p>
		Contact@NoteBooster.com<br>
		PO Box 612331 North Miami, FL 33181
		</p>



		<p class="mtop25">
			<strong>Changes to our Privacy Policy</strong>
		</p>
		<p>
			If we decide to change our privacy policy, we will post those changes on this page.
		</p>

		<p>This policy was last modified on 4/10/2015.</p>


	</div>