<div class="container">
  <div class="row mtop100 mbot200 mtop50-xs mbot100-xs">
    <div class="col-md-10 col-md-offset-1">
      <form name="searchNotesForm" role="form" ng-submit="searchNotes(searchNotesForm)">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="row home-notes">
            <div class="col-sm-6 form-group thin text-center">
              <label>Choose your school</label>

            <ui-select ng-model="school.selected" data-ng-disabled="disabled" theme="bootstrap" autofocus="true"
              on-select="schoolSelected($item, $model)" ng-change="searchCourse()" ng-enter>
              <ui-select-match placeholder="Search for your school">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices refresh="searchSchool($select.search)" refresh-delay="300" repeat="school in schools">
              <div ng-bind-html="school.name | highlight: $select.search"></div>
               <small>
                {{school.city}},{{school.state}}
              </small>
            </ui-select-choices>
          </ui-select>
          <span ng-show="!school.selected" class="error-msg">{{chooseSchool}}</span>
        </div>
        <div class="col-sm-6 form-group thin text-center">
          <label>Choose your course</label>
          <ui-select
          ng-model="course.selected"
          data-ng-disabled="disabled"   theme="bootstrap" >
          <ui-select-match placeholder="Search for your course">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices refresh="searchCourse($select.search)"  refresh-delay="300" repeat="course in courses">
           <div ng-bind-html="course.name | highlight: $select.search"></div>
            <small>
              {{course.title}}
            </small>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12">
      <button type="submit" class="btn btn-block btn-notes">Browse Notes</button>
    </div>
  </div>
</div>
</form>
<div class="clearfix"></div>
</div>
</div>
</div>

<div class="overlay-dark middle-bar">
  <div class="container">
    <div class="row mtop15 mbot15 text-center">
      <div class="col-sm-4 col-sm-offset-0 col-xs-4 col-xs-offset-0 toolHolder">
        <div class="tooltip mleft25 muted thin">Browse our growing collection of notes from different schools</div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <img src="/img/icon-buy.png" class="img-responsive" alt="Buy Notes">
            </div>
          </div>
          <p class="lead thin">Buy Notes</p>
      </div>
      <div class="col-sm-4 col-sm-offset-0 col-xs-4 col-xs-offset-0 toolHolder">
        <div class="tooltip mleft25 muted thin">Use NoteBooster to share your notes with other students</div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <img src="/img/icon-sell.png" class="img-responsive" alt="Sell Notes">
            </div>
          </div>
          <p class="lead thin">Sell Notes</p>
      </div>
      <div class="col-sm-4 col-sm-offset-0 col-xs-4 col-xs-offset-0 toolHolder">
        <div class="tooltip mleft25 muted thin">With each purchase proceeds are donated towards a good cause</div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <img src="/img/icon-support.png" class="img-responsive" alt="Support a Cause">
          </div>
        </div>
        <p class="lead thin">Support a Cause</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="overlay-light mbot-25">
  <div class="container" id="lower-content">
    <div class="row">
      <div class="col-xs-12 mtop25">
        <h2>What is NoteBooster?</h2>
        <p>We are an online student-to-student marketplace. We provide an opportunity for students to support purpose-driven organizations through the buying and selling of their own class notes. 24% of all notes profit goes towards our partnering organizations, with the note seller having the option to increase that share, while keeping the remainder.  A fixed $1.00 service fee is charged on every transaction.</p>
        <p><a ui-sref="app.about">Learn More</a></p>
        <hr class="mbot25">
        <h2>Partnering Organizations</h2>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-4">
        <a ng-href="#/organization/WhoWePlayForFSU">
          <img src="/img/partners/wwpf-fsu.png" class="img-responsive" alt="Who We Play For - FSU" height="300">
        </a>
      </div>
      <div class="col-xs-4">
        <a ng-href="#/organization/mindandmelody">
          <img src="/img/partners/mindandmelody.jpg" class="img-responsive" alt="Mind and Melody - FAU" height="300">
        </a>
      </div>
      <div class="col-xs-4">
        <a ng-href="#/organization/whoweplayforuf">
          <img src="/img/partners/wwpf-uf.png" class="img-responsive" alt="Who We Play For - UF" height="300">
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
    <p class="text-right mtop25 mbot50"><a ui-sref="app.organization-partnerships">View All Partners</a></p>

    <div class="row">
      <div class="col-xs-4" ng-repeat="org in organizations">
        <div>
        </div>
        <div>
          <p class="lead">{{org.name}}</p>
          <p>{{org.contact_email}}</p>
          <p>{{org.contact_person}}</p>
          <p>{{org.fact}}</p>
        </div>
      </div>
    </div>
  </div>
</div>