<div class="results pad15 title-block outline">
    <h1>Marketing Tools</h1>
    <p class="muted mbot50">Use these tools to promote to student note sellers on your campus</p>
        <p class="pull-right"><a href="" ng-click="whatsthis('flyertemplate')">Details</a></p>
        <div class="row form-group">
            <div class="col-sm-6">
                <label>Default Flyer Template:</label>
            </div>
            <div class="col-sm-6">
                <span><a href="#">NoteBooster Flyer v1.0</a></span>
            </div>
        </div>
        <p class="pull-right"><a href="" ng-click="whatsthis('largehandouttemplate')">Details</a></p>
        <div class="row form-group">
            <div class="col-sm-6">
                <label>Large Handout Template:</label>
            </div>
            <div class="col-sm-6">
               <span><a href="#">NoteBooster Large Handout v1.0</a></span>
            </div>
        </div>
        <p class="pull-right"><a href="" ng-click="whatsthis('smallhandouttemplate')">Details</a></p>
        <div class="row form-group">
            <div class="col-sm-6">
                <label>Small Handout Template:</label>
            </div>
            <div class="col-sm-6">
                <span><a href="#">NoteBooster Small Handout v1.0</a></span>
            </div>
        </div>
</div>
