<div class="results pad15 title-block outline">
    <h1>Marketing Tools</h1>
    <p class="muted mbot50">Use these tools to promote to student note sellers on your campus</p>
        <p class="pull-right"><a href="" ng-click="whatsthis('gettingstartedguide')">Details</a></p>

        <div class="row form-group">
            <div class="col-sm-6">
                <label>Getting Started Guide:</label>
            </div>
            <div class="col-sm-6">
                <span><a href="https://dl.dropboxusercontent.com/u/104123936/NoteBooster-Assets/NoteBooster%20Getting%20Started%20Guide.pdf" target="_blank">Getting Started Guide v1.0.1</a></span>
            </div>
        </div>
        <p class="pull-right"><a href="" ng-click="whatsthis('semesterguide')">Details</a></p>
        <div class="row form-group">
            <div class="col-sm-6">
                <label>Semester Guide:</label>
            </div>
            <div class="col-sm-6">
               <span><a href="https://dl.dropboxusercontent.com/u/104123936/NoteBooster-Assets/NoteBooster%20Semester%20Guide.pdf" target="_blank">Semester Guide v1.0.1</a></span>
            </div>
        </div>
        <hr>
        <p class="pull-right"><a href="" ng-click="whatsthis('flyertemplate')">Details</a></p>
        <div class="row form-group">
            <div class="col-sm-6">
                <label>Flyer Template:</label>
            </div>
            <div class="col-sm-6">
                <span><a href="https://dl.dropboxusercontent.com/u/104123936/NoteBooster-Assets/Flyer.zip" target="_blank">NoteBooster Flyer v1.0</a></span>
            </div>
        </div>
        <p class="pull-right"><a href="" ng-click="whatsthis('largehandouttemplate')">Details</a></p>
        <div class="row form-group">
            <div class="col-sm-6">
                <label>Poster Template:</label>
            </div>
            <div class="col-sm-6">
               <span><a href="https://dl.dropboxusercontent.com/u/104123936/NoteBooster-Assets/Poster.pdf" target="_blank">NoteBooster Poster v1.0</a></span>
            </div>
        </div>
        <p class="pull-right"><a href="" ng-click="whatsthis('smallhandouttemplate')">Details</a></p>
        <div class="row form-group">
            <div class="col-sm-6">
                <label>Mini Card Template:</label>
            </div>
            <div class="col-sm-6">
                <span><a href="https://dl.dropboxusercontent.com/u/104123936/NoteBooster-Assets/MiniBusinessCards.zip" target="_blank">NoteBooster Mini Card v1.0</a></span>
            </div>
        </div>
        <hr>
        <div class="row form-group">
            <div class="col-sm-12">
                <label>Sample Email One:</label>
                <p class="muted">This sample email can be used by note sellers communicating with classmates who are already familiar with your organization.</p>
            </div>
            <div class="col-sm-12">
                <span>
                    <textarea style="width: 100%;height:200px;padding:20px;">
Hello!

I've put my [ACG 2071, etc] notes online. Proceeds from this note support [Who We Play For - FSU, etc]:

[https://notebooster.com/#/note/241/zane-da-mane2618]
                    </textarea>
                </span>
            </div>
        </div>

        <div class="row form-group">
                    <div class="col-sm-12">
                        <label>Sample Email Two:</label>
                        <p class="muted">Sample message to classmates who are not familiar with your organization.</p>
                    </div>
                    <div class="col-sm-12">
                        <span>
                            <textarea style="width: 100%;height:200px;padding:20px;">
Hey guys, as you may know I am a part of [Who We Play For FSU chapter, etc] which is fighting against sudden cardiac arrest, which is the leading cause of student deaths. Our organization provides heart screenings for absolutely anyone who needs it. We represent thousands of teams and families around the country who have lost people to this very preventable circumstance. Please help us provide heart screenings in Leon county. To help us you can help us by simply buying and selling your notes on NoteBooster, our online philanthropy. When you place your notes on NoteBooster you can select how much goes to Who We Play For and how much you keep for yourself.

Also, if you do choose to set 100% of the proceeds to Who We Play For you can let me know and I'll' provide service hours if you need it.

signed,
[name]

                            </textarea>
                        </span>
                    </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <label>Sample Email Three:</label>
                <p class="muted">This template can be used to send to greek life or other organizations who are able to help you spread the word</p>
            </div>
            <div class="col-sm-12">
                <span>
                    <textarea style="width: 100%;height:200px;padding:20px;">
Hey [Delta Zeta, etc],

I wanted to take minute reach out and let you know about [WWPF's, etc] philanthropy, www.NoteBooster.com.  Its an online marketplace to buy and sell your notes. Unlike other services the difference here is that the proceeds go directly to providing a heart screening for students in Leon Country who cannot afford it. The heart screens we've provided across the country have saved 60 lives. By donating you help us save even more.

So please consider taking good notes and selling them on NoteBooster. It would really mean a lot to me and our organization.

Live the gift.

signed,
[name]
                    </textarea>
                </span>
            </div>
        </div>
</div>
