        <div class="results pad15 outline" cg-busy="[forsalePromise,noteUpdatePromise]">
          <section class="row vertical-align normalize-xs normalize-sm">
            <div class="col-md-6 col-xs-12 title-block">
              <h1>Notes For Sale</h1>
              <!-- <p class="lead muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
            </div>
            <div class="col-xs-3 text-right mtop25-sm mbot25-sm">
              <p class="lead mbot0">{{notesCount}} Items</p>
            </div>
            <div class="col-md-3 col-xs-9 mtop25-sm mbot25-sm">
              <select ng-model="order" ng-change="getMyNotesForSale(page,order)" class="form-control" ng-model="orderListValue">
                <option value="-created">Newest First</option>
                <option value="price">Lowest Price</option>
                <option value="-price">Highest Price</option>
              </select>
            </div>
          </section>
          <main class="row">
            <div class="col-xs-12">
              <div ng-if="notesCount == 0" class="row vertical-align lined noresults">
                <p ng-if="success">Nothing here yet!</p>
              </div>
              <div class="row vertical-align normalize-xs lined for-sale-row" ng-repeat="note in results">
                <div class="col-sm-8 col-xs-12 mtop15 mbot5">
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="lead mbot0"><a ui-sref="app.note-details({noteId:note.id, slug:note.slug})">{{note.title}}</a></p>
                    </div>
                    <div class="col-sm-6 col-xs-4 mtop15 mbot5">
                      <p>Price: {{note.price | currency}}</p>
                      <p>Sales: {{note.sold_count}}</p>
                      <p>Revenue: {{note.sold_count*note.price | currency}}</p>
                      <p>Organization Split: {{note.charity_split != null ? note.charity_split : 0}}%</p>
                    </div>
                    <div class="col-sm-6 col-xs-8 mtop15 mbot5">
                      <p class="visible-xs lead">{{note.price | currency}}</p>
                      <p class="visible-xs muted">Provided by: <a ui-sref="app.viewprofile({username:note.user.username})" >{note.user.username}}</a></p>
                      <p>Date: {{note.year}}</p>
                      <p>Course: {{note.course.name}}</p>
                      <p>Instructor: {{note.instructor.name}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 text-center form-group">
                  <select ng-change="setNoteStatus(note)" class="form-control" name="note-status" ng-model="note.status">
                    <option value="active">Active</option>
                    <option value="draft">Disabled</option>
                  </select>
                  <a ui-sref="app.update-note({noteId:note.id})" class="btn btn-minor btn-block mtop5">Edit</a>
                  <button class="btn btn-primary btn-block" id="{{note.title}}" ng-click="promote($event)">Promote</button>
                </div>
              </div>
            </div>
          </main>
          <div ng-show="notesCount > itemsPerPage">
          <footer class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
              <pagination ng-model="page" items-per-page="itemsPerPage" total-items="notesCount" boundary-links="true" first-text="&laquo;" previous-text="&lsaquo;" next-text="&rsaquo;"  last-text="&raquo;" rotate="true" max-size="maxSize" ng-change="getMyNotesForSale(page,order)">
              </pagination>
            </div>
          </footer>
          <header class="row ptop25 pbot25 bottom">
            <div class="col-xs-12 text-align">
              <p class="lead mbot0" cg-busy="earningsRetrievalPromise">Total Earnings: {{totalEarnings | currency}}</p>
            </div>
          </header>
          </div>
          <div class="clearfix"></div>
        </div>
