<div class="container results mtop25 mbot25 outline">
		<h1>Organization Partnerships</h1>
		<p class="muted mbot50">Learn about our partners and the requirements for working with us.</p> <!-- eg: we value our partners -->
		<h2>Our Partners</h2>
		<p>NoteBooster was founded under the belief that college students really can change the world. It's our privilege to help these student organizations, one community at a time, do exactly that.</p>

		<div class="row mtop25">
			<div class="col-sm-12 col-md-4">
				<p class="text-center"><a ng-href="#/organization/WhoWePlayForFSU">Who We Play For - FSU</a></p>
    			<a ng-href="#/organization/WhoWePlayForFSU">
    				<img src="/img/partners/wwpf-fsu.png" class="img-responsive" alt="Who We Play For - FSU" height="300">
    			</a>
    		</div>
    		<div class="col-sm-12 col-md-4">
				<p class="text-center"><a href="">Who We Play For - UF</a></p>
				<a ng-href="#/organization/whoweplayforuf">
    				<img src="/img/partners/wwpf-uf.png" class="img-responsive" alt="Who We Play For - UF" height="300">
    			</a>
    		</div>
    		<div class="col-sm-12 col-md-4">
				<p class="text-center"><a href="">Who We Play For - UCF</a></p>
				<a ng-href="#/organization/whoweplayforucf">
    				<img src="/img/partners/wwpf-ucf.png" class="img-responsive" alt="Who We Play For - UCF" height="300">
    			</a>
    		</div>
		</div>

		<hr class="mtop25 mbot15">

		<h2>Becoming a Partner</h2>

		<p class="mbot25">Currently, we're only accepting one student organization per campus. If you're interested in expanding your organization's fundraising efforts through NoteBooster, take a few minutes to fill out the application on the following page.</p>

		<h3>Requirements</h3>
		<ul>
			<li>Full commitment to our core values & brand promise.</li>
			<li>PayPal account with a tax exemption number.</li>
			<li>A brief statement of your organization's purpose.</li>
		</ul>


		<div class="row mtop50">
			<div class="col-sm-4 col-sm-offset-4">
				<a ui-sref="app.organization-register" class="btn btn-primary btn-block">Apply Now</a>
			</div>
		</div>

		<hr class="mtop25 mbot15">
		<h2>Contact Us</h2>

		<div class="row mtop25 mbot25">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<!-- <p class="lead mbot15">Nam liber tempor</p> -->
						<p>PO Box 612331 North Miami, FL 33181</p>
						<p>(650) 564-7104</p>
						<p>contact@notebooster.com</p>
					</div>
				</div>
			</div>
		</div>

	</div>
