<div class="container results mtop25 mbot25 outline">
		<div class="row mtop25 mbot25">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<h1>Registration Submitted</h1>
				<hr class="mtop25 mbot25">
			</div>
			<div class="col-xs-10 col-xs-offset-1 ">
				<p>We have received your registration information. Our review team will contact you via email in the next 5 business days.</p>
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2 mtop25 mbot25 mtop0-xs solo-btn">
				<button class="btn btn-primary btn-block">Return Home</button>
			</div>
		</div>
	</div>