<div class="modal-content">
  <div class="modal-header">
    <button ng-click="close()" type="button" class="close">
        <span aria-hidden="true">×</span>
    </button>
    <h3 class="modal-title">Now Following {{username}}</h3>
    <p></p>
  </div>
  <div class="modal-body"><hr class="mtop25 mbot25">
    <p>You can unfollow by accessing the Watch List from your user menu.</p>
    <div class="row mtop25">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <button class="btn btn-primary btn-block" ng-click='close()'>Close</button>
      </div>
    </div></div>
  </div>