<div class="modal-content">
  <div class="modal-header">
    <button ng-click="cancel()" type="button" class="close">
        <span aria-hidden="true">×</span>
    </button>
    <h3 class="modal-title">Your Note is incomplete</h3>
    <p></p>
  </div>
  <div class="modal-body">
    <ul>
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
   <br> <a href="javascript:void(0)" ng-click="updateNote()">Edit Note</a><br><br>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <button ng-click="cancel()" class="btn btn-primary btn-block" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>