<div class="modal-header" >
          <button type="button" class="close"  aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
          <!-- <h3 class="modal-title">Register</h3> -->
          <div class="col-sm-8 col-sm-offset-2 mtop15 mbot35">
            <button type="submit" class="btn btn-primary btn-block fb-blue" ng-click="fb_login()">Sign In with Facebook</button>
          </div>
          <div class="or-line"><div class="or-block">or</div></div><p></p>
        </div>
        <div class="modal-body" cg-busy="signupPromise">
          <form ng-submit="register(registerForm)" name="registerForm" role="form">
            <div class="form-group">
              <label for="username">Username:</label>
              <input ng-model="model.username" type="text" name="username" class="form-control" required>
              <div class="error-msg" ng-repeat="error in errors.username">{{error}}</div>
              <div class="error-msg" ng-show="registerForm.username.$dirty && registerForm.username.$invalid">
                <span ng-show="registerForm.username.$error.required">
                  Username is required.
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input ng-model="model.password1" type="password" name="password" class="form-control" required
                ng-minlength=6 />
              <div class="error-msg" ng-repeat="error in errors.password1">{{error}}</div>
              <div class="error-msg" ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
                <span ng-show="registerForm.password.$error.required">
                  Password is required.
                </span>
                <span ng-show="registerForm.password.$error.minlength">
                  Password must be at least 6 characters long.
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="confirm_password">Confirm Password:</label>
              <input ng-model="model.password2" type="password" name="confirm_password" class="form-control" data-matcher="model.password1" required>
              <div class="error-msg" ng-repeat="error in errors.password2">{{error}}</div>
              <div class="error-msg"
                  ng-show="registerForm.confirm_password.$dirty && registerForm.confirm_password.$invalid || isNotPasswordMatch">
                <span ng-show="registerForm.confirm_password.$error.required">
                  Confirm Password is required.
                </span>
                <span ng-show="registerForm.confirm_password.$error.match">
                  Passwords must match.
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="reg-email">Your Email:</label>
              <input ng-model="model.email" type="email" name="reg-email" class="form-control" required>
              <div class="error-msg" ng-repeat="error in errors.email">{{error}}</div>
            </div>
            <div class="form-group">
              <label for="school">Your School:</label>
              <ui-select ng-model="school.selected" data-ng-disabled="disabled" theme="bootstrap">
                <ui-select-match placeholder="Search for your school">
                  {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices refresh="searchSchool($select.search)" refresh-delay="300" repeat="school in schools">
                <div ng-bind-html="school.name | highlight: $select.search"></div>
                <small>
                  {{school.city}},{{school.state}}
                </small>
                </ui-select-choices>
              </ui-select>
            <span ng-show="!school.selected" class="error-msg">{{chooseSchool}}</span>
            </div>
            <label for="reg-confirm">
              <input type="checkbox" name="reg-confirm" id="reg-confirm" required>
              <span class="muted">I have read and agree to the <a ui-sref="app.legal" target="_blank">Terms of Use</a></span>
            </label>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 mtop25">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
              </div>
            </div>
          </form>
        </div>
      <p class="text-center mtop25 already-registered-link"><a href="javascript:void(0)" ng-click="signinModal(); cancel()">Already registered? Sign in here.</a></p>