<div class="modal-content">
  <div class="modal-header">
    <button ng-click="close()" type="button" class="close">
        <span aria-hidden="true">×</span>
    </button>
    <h3 class="modal-title">NoteBooster Mini Card Template</h3>
    <p></p>
  </div>
  <div class="modal-body">
  <p class="muted">This file is intended to be a double-sided, half sized business card.</p>
  <p class="muted">Dimensions: 2.75" x 1.10"</p>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <button ng-click="close()" class="btn btn-primary btn-block" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>